{{ 'pdp-chuug-vessel-modal.css' | asset_url | stylesheet_tag }}

<div class="modal" id="myModal">
  <div class="modal-content">
    <div class="grid-container">
      <div class="grid-item">
        <img
          src="{{ block.settings.modal_image_one | image_url }}"
          alt="{{ block.settings.modal_title_one }}"
          height="100"
          width="100"
        >
        <p>{{ block.settings.modal_title_one }}</p>
      </div>

      <div class="grid-item">
        <img
          class="lazyload"
          data-src="{{ block.settings.modal_image_two | image_url }}"
          alt="{{ block.settings.modal_title_two }}"
          height="100"
          width="100"
        >
        <p>{{ block.settings.modal_title_two }}</p>
      </div>

      <div class="grid-item">
        <img
          class="lazyload"
          data-src="{{ block.settings.modal_image_three | image_url }}"
          alt="{{ block.settings.modal_title_three }}"
          height="100"
          width="100"
        >
        <p>{{ block.settings.modal_title_three }}</p>
      </div>

      <div class="grid-item">
        <img
          class="lazyload"
          data-src="{{ block.settings.modal_image_four | image_url }}"
          alt="{{ block.settings.modal_title_four }}"
          height="100"
          width="100"
        >
        <p>{{ block.settings.modal_title_four }}</p>
      </div>

      <div class="grid-item">
        <img
          class="lazyload"
          data-src="{{ block.settings.modal_image_five | image_url }}"
          alt="{{ block.settings.modal_title_five }}"
          height="100"
          width="100"
        >
        <p>{{ block.settings.modal_title_five }}</p>
      </div>

      <div class="grid-item">
        <img
          class="lazyload"
          data-src="{{ block.settings.modal_image_six | image_url }}"
          alt="{{ block.settings.modal_title_six }}"
          height="100"
          width="100"
        >
        <p>{{ block.settings.modal_title_six }}</p>
      </div>
    </div>

    <button class="close-btn" id="closeModal">
      {% render 'icon-close-rounded' %}
    </button>
  </div>
</div>

<script>
  const openModal = document.getElementById('openModal');
  const closeModal = document.getElementById('closeModal');
  const modal = document.getElementById('myModal');

  openModal.addEventListener('click', () => {
    modal.style.display = 'flex';
  });

  closeModal.addEventListener('click', () => {
    modal.style.display = 'none';
  });

  modal.addEventListener('click', (event) => {
    if (event.target === modal) {
      modal.style.display = 'none';
    }
  });
</script>
