
<div class="tw-flex tw-flex-col tw-gap-y-2 tw-text-white">
      <div class="tw-flex tw-whitespace-nowrap">
        <div class="label-text"><span>1</span>{{ section.settings.vessel_question }} 
          {% render 'icon-question-mark-tooltip', tooltip_text: section.settings.vessel_question_tooltip_text %}
        </div>
      </div>

      <div class="vessel-number-wrap tw-flex tw-flex-wrap tw-items-end tw-gap-y-[1rem] tw-gap-x-[0.62em] tw-px-2 md:tw-flex-nowrap">
        <div class="tw-w-full">
          <label
            class="tw-cursor-pointer"
          >
            <div
              onclick="setProductAmount('1')" class="vessel_number_item product_amount_label_1"
            >
              <span class="vessel-multiplier tw-text-center tw-text-[2rem] tw-leading-[1] tw-font-bold tw-tracking-[0.0625em] tw-leading-5 tw-uppercase"
                >1X</span
              >
              <div class="vessel-price-wrap tw-whitespace-nowrap tw-flex tw-items-center tw-gap-x-[1rem]">
                <span
                  class="product_amount_original_price product_amount_label_1_compare_at_price tw-line-through tw-text-[1.6rem] tw-font-bold tw-leading-4 tw-tracking-tighter tw-flex tw-gap-x-[1rem]"
                  no_engraving_compare_at_price="{{ section.settings.one_chuug_product.compare_at_price | money }}"
                  engraving_compare_at_price="{{  section.settings.one_chuug_product.variants[1].compare_at_price | money }}"
                >
                  {{ section.settings.one_chuug_product.variants[0].compare_at_price | money }}
                </span>
                <span
                  class="product_amount_price product_amount_label_1_price tw-text-[1.6rem] tw-font-bold tw-leading-4"
                  no_engraving_price="{{ section.settings.one_chuug_product.price | money }}"
                  engraving_price="{{ section.settings.one_chuug_product.variants[1].price | money }}"
                >
                  {{ section.settings.one_chuug_product.variants[0].price | money }}
                </span>
              </div>
            </div>
          </label>
        </div>
        <div class="tw-w-full">
          <label
            class="tw-cursor-pointer"
          >
            <div onclick="setProductAmount('2')"
            class="vessel_number_item product_amount_label_2">
              <span class="promo-label">MOST POPULAR</span>
              <span class="vessel-multiplier tw-text-center tw-text-[2rem] tw-leading-[1] tw-font-bold tw-tracking-[0.0625em] tw-leading-5 tw-uppercase"
                >2X</span
              >
              <div class="vessel-price-wrap tw-whitespace-nowrap tw-flex tw-items-center tw-gap-x-[1rem]">
                <span
                  class="product_amount_original_price product_amount_label_2_compare_at_price tw-line-through tw-text-[1.6rem] tw-font-bold tw-leading-4 tw-tracking-tighter tw-flex tw-gap-x-[1rem]"
                  no_engraving_compare_at_price="{{ section.settings.two_chuug_product.compare_at_price | money }}"
                  engraving_compare_at_price="{{ section.settings.two_chuug_product.variants[1].compare_at_price | money }}"
                >
                  {{ section.settings.two_chuug_product.variants[0].compare_at_price | money }}
                </span>
                <span
                  class="product_amount_price product_amount_label_2_price tw-text-[1.6rem] tw-font-bold tw-leading-4"
                  no_engraving_price="{{ section.settings.two_chuug_product.price | money }}"
                  engraving_price="{{ section.settings.two_chuug_product.variants[1].price | money }}"
                >
                  {{- section.settings.two_chuug_product.variants[0].price | money -}}
                </span>
              </div>
              <span class="discount-label">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                  <g clip-path="url(#clip0_2058_1100)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.206055 5.61713L5.20605 0.617126H10.2061V5.61713L5.20605 10.6171L0.206055 5.61713ZM7.39355 4.36713C6.87579 4.36713 6.45605 3.9474 6.45605 3.42963C6.45605 2.91186 6.87579 2.49213 7.39355 2.49213C7.91132 2.49213 8.33105 2.91186 8.33105 3.42963C8.33105 3.9474 7.91132 4.36713 7.39355 4.36713Z" fill="#A43223"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_2058_1100">
                  <rect width="10" height="10" fill="white" transform="matrix(-1 0 0 1 10.2061 0.617126)"/>
                  </clipPath>
                  </defs>
                </svg>
                ONLY £39 EACH!
              </span>
            </div>
            

          </label>
        </div>
        <div class="tw-w-full">
          <label
            class="tw-cursor-pointer"
          >
            <div
            onclick="setProductAmount('3')"
            class="vessel_number_item product_amount_label_3">
              <span class="promo-label">BEST VALUE</span>

              <span class="vessel-multiplier tw-text-center tw-text-[2rem] tw-leading-[1] tw-font-bold tw-tracking-[0.0625em] tw-leading-5 tw-uppercase"
                >3X</span
              >
              <div class="vessel-price-wrap tw-whitespace-nowrap tw-flex tw-items-center tw-gap-x-[1rem]">
                <span
                  class="product_amount_original_price product_amount_label_3_compare_at_price tw-line-through tw-text-[1.6rem] tw-font-bold tw-leading-4 tw-tracking-tighter tw-flex tw-gap-x-[1rem]"
                  no_engraving_compare_at_price="{{ section.settings.three_chuug_product.compare_at_price | money }}"
                  engraving_compare_at_price="{{ section.settings.three_chuug_product.variants[1].compare_at_price | money }}"
                >
                  {{ section.settings.three_chuug_product.variants[0].compare_at_price | money }}
                </span>
                <span
                  class="product_amount_price product_amount_label_3_price tw-text-[1.6rem] tw-font-bold tw-leading-4"
                  no_engraving_price="{{ section.settings.three_chuug_product.price | money }}"
                  engraving_price="{{ section.settings.three_chuug_product.variants[1].price | money }}"
                >
                  {{- section.settings.three_chuug_product.variants[0].price | money -}}
                </span>
              </div>

              <span class="discount-label">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                  <g clip-path="url(#clip0_2058_1100)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.206055 5.61713L5.20605 0.617126H10.2061V5.61713L5.20605 10.6171L0.206055 5.61713ZM7.39355 4.36713C6.87579 4.36713 6.45605 3.9474 6.45605 3.42963C6.45605 2.91186 6.87579 2.49213 7.39355 2.49213C7.91132 2.49213 8.33105 2.91186 8.33105 3.42963C8.33105 3.9474 7.91132 4.36713 7.39355 4.36713Z" fill="#A43223"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_2058_1100">
                  <rect width="10" height="10" fill="white" transform="matrix(-1 0 0 1 10.2061 0.617126)"/>
                  </clipPath>
                  </defs>
                </svg>
                EXTRA £45 OFF!
              </span>

            </div>
          </label>
        </div>
      </div>
    </div>
    <div class="customize-your-vessel tw-flex tw-flex-col tw-text-white tw-text-[1.6rem] tw-font-semibold">
      <div class="tw-flex tw-gap-[1rem]">
        <div class="label-text"><span>2</span>{{ section.settings.customise_vessel_question }}</div>
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when 'modal' -%}
              <button id="openModal">See options</button>
              {% render 'pdp-chuug-vessel-modal', block: block %}
          {%- endcase -%}
        {% endfor %}
      </div>
      <div class="customise-vessel-tab" data-tabs>
        <!-- Tab headers -->
        <div class="vessel-tab-container">

          {% for i in (1..3) %}
            <button 
              class="vessel-tab-button  {% if forloop.index == 1 %} active {% else %} inactive {% endif %} vessel_number_{{ forloop.index }} " 
             
              data-tab="tab{{ forloop.index }}"
            >
              Vessel #{{ forloop.index }}
            </button>
          {% endfor %}
         
        </div>

        <!-- Tab content -->
        <div class="vessel-tab-content">

          {% for i in (1..3) %}
            <div 
              id="tab{{ forloop.index }}" 
              class="vessel-tab-panel  {% if forloop.index == 1 %} active {% endif %} vessel_number_{{ forloop.index }} "
           
            >
              <div class="tw-flex tw-flex-col tw-items-center md:tw-flex-row">
                <div
                  class="inputs tw-flex tw-w-full tw-flex-col tw-gap-y-[1rem]"
                  variant_id=""
                  variant_monogram_initials_id=""
                  variant_index="0"
                  product_amount="3"
                  monogram_initials=""
                >
                  <div>
                    <p class="tw-text-white ">Wood Finish</p>

                    <div class="block-wrap">
                      <label class="wood-type-label block-label tw-cursor-pointer  ">
                        <input type="radio" name="wood_material_{{ forloop.index }}" value="DUSK" class="tw-hidden js-option">
                        {% if section.settings.wood_finish_dusk_wood != blank %}
                         <div class="img-wrap">
                           <img src="{{ section.settings.wood_finish_dusk_wood | image_url }}" width="180" height="48">
                         </div>
                        {% endif %}
                        <span class="wood-type-name tw-uppercase type-name">DUSK</span>
                      </label>

                      <label class="wood-type-label block-label tw-cursor-pointer">
                        <input type="radio" name="wood_material_{{ forloop.index }}" value="DAWN" class="tw-hidden js-option">
                        {% if section.settings.wood_finish_dawn_wood != blank %}
                         <div class="img-wrap">
                            <img src="{{ section.settings.wood_finish_dawn_wood | image_url }}" width="180" height="48">
                         </div>
                        {% endif %}
                        <span class="wood-type-name tw-uppercase type-name">DAWN</span>
                      </label>

                      <label class="wood-type-label block-label tw-cursor-pointer">
                        <input type="radio" name="wood_material_{{ forloop.index }}" value="MIDNIGHT" class="tw-hidden js-option">
                        {% if section.settings.wood_finish_midnight_wood != blank %}
                         <div class="img-wrap">
                          <img
                            src="{{ section.settings.wood_finish_midnight_wood | image_url }}"
                            width="180"
                            height="48"
                          >
                         </div>
                        {% endif %}
                        <span class="wood-type-name tw-uppercase type-name">MIDNIGHT</span>
                      </label>
                    </div>
                  </div>

                  <div>
                    <p class="tw-text-white ">Rope Type</p>

                    <div class="block-wrap">
                      <label class="block-label rope-type-label tw-flex tw-items-center tw-px-4 tw-py-2 hover:tw-bg-chuug-pastel-yellow tw-cursor-pointer">
                        <input type="radio" name="rope_material_{{ forloop.index }}" value="NATURAL" class="tw-hidden js-option">
                        <span class="rope-type-name tw-uppercase type-name">NATURAL</span>
                        {% if section.settings.natural_rope != blank %}
                          <img src="{{ section.settings.natural_rope | image_url }}" width="180" height="48">
                        {% endif %}
                      </label>
                      <label class="block-label rope-type-label tw-flex tw-items-center tw-px-4 tw-py-2 tw-cursor-pointer">
                        <input type="radio" name="rope_material_{{ forloop.index }}" value="CHARCOAL" class="tw-hidden js-option">
                        <span class="rope-type-name tw-uppercase type-name">CHARCOAL</span>
                        {% if section.settings.charcoal_rope != blank %}
                          <img src="{{ section.settings.charcoal_rope | image_url }}" width="180" height="48">
                        {% endif %}
                      </label>
                    </div>
                  </div>
                </div>

                <input
                  class="monogram_initials tw-hidden tw-w-full tw-h-[4.8rem] tw-text-center input tw-uppercase tw-bg-chuug-rackley tw-mx-auto tw-rounded-2xl tw-px-4 tw-py-2 tw-border tw-border-white tw-appearance-none tw-placeholder-white hover:tw-cursor-pointer focus:tw-outline-none focus:tw-ring-0 active:tw-outline-none active:tw-ring-0 md:tw-w-1/3 lg:!tw-w-[15.5rem] xl:!tw-w-[18.5rem]"
                  type="text"
                  maxlength="3"
                  placeholder="ENTER Initials"
                  name="properties[Monogram Initials]"
                  disabled
                >
              </div>
            </div>

          {% endfor %}
          
        </div>
      </div>

      <div class="your-selection tw-flex tw-flex-col tw-items-center tw-gap-y-[1rem] tw-gap-x-[0.62em] tw-py-2 md:tw-flex-row">
        <p class="tw-text-white ">Your Selection</p>
        <!-- Dynamic vessel count - class will be set by JavaScript -->
        <div class="selection-result-wrap">

          <p class="no-selection-text">Your selection will appear here</p>

        </div>
      </div>


    
    </div>

    <div class="tw-flex tw-flex-col">
      <button
        id="add-multiple-products"
        onclick="handlePersonalizeVessel()"
        type="submit"
        name="add"
        disabled
        class="product-form__submit tw-whitespace-nowrap tw-flex tw-justify-center tw-items-center tw-gap-x-[0.8rem] cta-button  tw-uppercase tw-text-white tw-text-[2rem] tw-font-bold tw-w-full tw-bg-no-repeat tw-h-[7rem] tw-rounded-[1.25em] "
      >
        {{ section.settings.button_text }} |
        <div
          class="cta-product-price tw-whitespace-nowrap"
        ></div>
      </button>
      <p class="incompleted-inputs-text">All fields must be filled out before adding products to the cart.</p>

      <div class="tw-flex tw-items-center tw-gap-x-2 tw-justify-center tw-text-white tw-mt-[1.2rem]">
        <div class="tw-bg-chuug-rose tw-rounded-[0.29375em] tw-py-[0.27125em] tw-px-[0.5425em] tw-flex tw-items-center tw-justify-center">
          <svg width="49" height="13" viewBox="0 0 49 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M46.4233 7.95711C46.4233 6.81202 45.454 5.88498 44.2583 5.88498C43.0626 5.88498 42.0933 6.81343 42.0933 7.95711C42.0933 9.10079 43.064 10.0278 44.2597 10.0278C45.4554 10.0278 46.4233 9.10079 46.4233 7.95711ZM46.4317 3.92961H48.8204V11.9832H46.4317V11.4683C45.7353 11.9491 44.909 12.2062 44.0628 12.2055C41.7374 12.2055 39.8524 10.3036 39.8524 7.95711C39.8524 5.61066 41.7374 3.70875 44.0628 3.70875C44.942 3.70875 45.7565 3.98025 46.4317 4.44588V3.92961ZM27.3113 4.97904V3.93101H24.865V11.9832H27.3169V8.22298C27.3169 6.9541 28.6786 6.27324 29.624 6.27324H29.6521V3.93101C28.6814 3.93101 27.791 4.35022 27.3113 4.97904ZM21.2173 7.95711C21.2173 6.81202 20.248 5.88498 19.0523 5.88498C17.8566 5.88498 16.8873 6.81343 16.8873 7.95711C16.8873 9.10079 17.858 10.0278 19.0537 10.0278C20.2494 10.0278 21.2173 9.10079 21.2173 7.95711ZM21.2257 3.92961H23.6158V11.9832H21.2257V11.4683C20.5505 11.9326 19.736 12.2055 18.8568 12.2055C16.5314 12.2055 14.6464 10.3036 14.6464 7.95711C14.6464 5.61066 16.5314 3.70875 18.8568 3.70875C19.736 3.70875 20.5505 3.98025 21.2257 4.44588V3.92961ZM35.6068 3.71437C34.6531 3.71437 33.7499 4.0126 33.145 4.83696V3.93101H30.7662V11.9832H33.1746V7.75172C33.1746 6.52786 33.9877 5.92718 34.9682 5.92718C36.0176 5.92718 36.6225 6.56021 36.6225 7.73484V11.9832H39.0083V6.86266C39.0083 4.98888 37.5312 3.71437 35.6068 3.71437ZM11.1661 11.9832H13.6673V0.342414H11.1661V11.9832ZM0.179443 11.986H2.82834V0.3396H0.18085L0.179443 11.986ZM9.44424 0.3396C9.44424 2.86048 8.47078 5.20693 6.73486 6.94988L10.3952 11.986H7.12453L3.14767 6.51379L4.17459 5.73727C5.01058 5.10852 5.68793 4.29295 6.1525 3.35573C6.61708 2.41852 6.85602 1.38563 6.85021 0.3396H9.44143H9.44424Z" fill="#0C061D"/>
          </svg>
        </div>
        <span class="tw-text-[1.2rem] tw-leading-[1.5]">Not happy? We'll refund you. No questions asked.</span>
      </div>
    </div>

<!-- Include Modal CSS -->
{{ 'pomc-system.css' | asset_url | stylesheet_tag }}
{{ 'checkout-products-wrap.css' | asset_url | stylesheet_tag }}

<!-- Mini ATC Modal -->
<div id="mini-atc-modal" class="mini-atc-modal">
  <div class="mini-atc-modal__overlay"></div>
  <div class="mini-atc-modal__container">
    <!-- Fixed Header -->
    <div class="mini-atc-modal__header">
      <h2 class="mini-atc-modal__title">Personalise Your CHUUG</h2>
      <button class="mini-atc-modal__close" onclick="closeMiniATCModal()">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    
    <!-- Scrollable Content -->
    <div class="mini-atc-modal__content">
      <!-- Personalise Content Wrapper -->
      <div class="mini-atc-modal__personalise-wrap mini-atc-modal__content-wrap--active">
        <!-- Product Image -->
        <div class="mini-atc-modal__product-image">
          <div class="swiper mini-atc-product-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="product-image-wrap">
                  <div class="img-wrap">
                    <img src="{{ 'vessel-sample.png' | asset_url }}" alt="CHUUG Vessel" width="400" height="400" />
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-image-wrap">
                  <div class="img-wrap">
                    <img src="{{ 'dusk_natural.png' | asset_url }}" alt="CHUUG Vessel - Dusk Natural" width="400" height="400" />
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-image-wrap">
                  <div class="img-wrap">
                    <img src="{{ 'dawn_charcoal.png' | asset_url }}" alt="CHUUG Vessel - Dawn Charcoal" width="400" height="400" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mini-atc-modal__image-dots">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
        <div class="personalization-cards">
          <!-- Personalization Options -->
          <div class="mini-atc-modal__personalization mini-vessel-names">
            <div class="mini-atc-modal__personalization-header">
              <div class="mini-atc-modal__personalization-header-content">
                <div class="mini-atc-modal__personalization-icon">
                  {% render 'personalization-icon', icon_type: 'pencil' %}
                </div>
                <h3>Add a Personalised <br/>Coin Engraving?</h3>
              </div>
              <div class="mini-atc-modal__personalization-header-content_right">
                <a href="#" class="mini-atc-modal__design-link">Can I see the design?</a>
                {% render 'icon-question-mark-tooltip', tooltip_text: section.settings.vessel_question_tooltip_text %}
                <div class="mini-atc-modal__toggle-container">
                  <label class="mini-atc-modal__toggle">
                    <input type="checkbox" id="engraving-toggle" checked>
                    <span class="mini-atc-modal__toggle-slider"></span>
                  </label>
                </div>
                </div>
              </div>
            <div class="mini-atc-modal__complete-options">
              <button class="mini-atc-modal__complete-set-btn">Complete Set</button>
              <div class="modal__personalization-vessel-name-wrap">
                <!-- Vessel #1 -->
                <div class="vessel-personalization-row">
                  <div class="vessel-info">
                    <span class="vessel-label">Vessel #1</span>
                    <div class="mini-atc-modal__toggle-container">
                      <label class="mini-atc-modal__toggle">
                        <input type="checkbox" id="vessel-1-toggle" checked>
                        <span class="mini-atc-modal__toggle-slider"></span>
                      </label>
                    </div>
                  </div>
                  <div class="vessel-input-container">
                    <input 
                      type="text" 
                      id="vessel-1-name" 
                      class="vessel-name-input" 
                      placeholder="Maximum of 3 Letters"
                      maxlength="3"
                      disabled
                    >
                  </div>
                </div>

                <!-- Vessel #2 -->
                <div class="vessel-personalization-row">
                  <div class="vessel-info">
                    <span class="vessel-label">Vessel #2</span>
                    <div class="mini-atc-modal__toggle-container">
                      <label class="mini-atc-modal__toggle">
                        <input type="checkbox" id="vessel-2-toggle" checked>
                        <span class="mini-atc-modal__toggle-slider"></span>
                      </label>
                    </div>
                  </div>
                  <div class="vessel-input-container">
                    <input 
                      type="text" 
                      id="vessel-2-name" 
                      class="vessel-name-input" 
                      placeholder="Maximum of 3 Letters"
                      maxlength="3"
                      disabled
                    >
                  </div>
                </div>
              </div>
            </div>
           
          </div>


          <!-- Mix & Match Container -->
          <div class="mini-atc-modal__personalization mini-atc-modal__mix-match">
            <div class="mini-atc-modal__personalization-header">
              <div class="mini-atc-modal__personalization-header-content">
                <div class="mini-atc-modal__personalization-icon">
                  {% render 'personalization-icon', icon_type: 'cup' %}
                </div>
                <h3>Add Extra Insulated Cups?</h3>
              </div>
              <div class="mini-atc-modal__personalization-header-content_right">
                  <a href="#" class="mini-atc-modal__design-link">See preview</a>
                  {% render 'icon-question-mark-tooltip', tooltip_text: section.settings.vessel_question_tooltip_text %}
                  <div class="mini-atc-modal__toggle-container">
                    <label class="mini-atc-modal__toggle">
                      <input type="checkbox" id="mix-match-toggle" checked>
                      <span class="mini-atc-modal__toggle-slider"></span>
                    </label>
                  </div>
                </div>
              </div>
            <div class="mini-atc-modal__complete-options">
              <button class="mini-atc-modal__complete-set-btn bg-green">Mix & Match Set</button>
              <!-- Mix & Match Content -->
              <div class="mini-atc-modal__mix-match-content">
                <!-- Info Box -->
                <div class="mini-atc-modal__mix-match-info">
                  <div class="mini-atc-modal__mix-match-info-content">
                    <p>💡 You already get 1 free silver insulated cup with each CHUUG. Add backup insulated cups so you're never without your CHUUG!</p>
                  </div>
                </div>
                
                <!-- Product Variants -->
                <div class="mini-atc-modal__mix-match-variants">
                  <!-- Midnight Black -->
                  <div class="mini-atc-modal__variant-row">
                    <div class="mini-atc-modal__variant-image">
                      <img src="{{ 'midnight_charcoal.png' | asset_url }}" alt="Midnight Black Cup" width="37" height="64" />
                    </div>
                    <div class="mini-atc-modal__variant-details">
                      <div class="mini-atc-modal__variant-info">
                        <h4 class="mini-atc-modal__variant-name">Midnight Black</h4>
                        <p class="mini-atc-modal__variant-description">Matches most CHUUGs</p>
                      </div>
                      <div class="mini-atc-modal__variant-controls">
                        <div class="mini-atc-modal__counter">
                          <button class="mini-atc-modal__counter-btn mini-atc-modal__counter-decrement" type="button">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="10" cy="10" r="9.5" fill="transparent" stroke="#0D2026" stroke-opacity="0.1"/>
                              <line x1="6" y1="10" x2="14" y2="10" stroke="#0D2026" stroke-width="1" stroke-linecap="round"/>
                            </svg>
                          </button>
                          <div class="mini-atc-modal__counter-value">1</div>
                          <button class="mini-atc-modal__counter-btn mini-atc-modal__counter-increment" type="button">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="10" cy="10" r="9.5" fill="transparent" stroke="#0D2026" stroke-opacity="0.1"/>
                              <line x1="10" y1="6" x2="10" y2="14" stroke="#0D2026" stroke-width="1" stroke-linecap="round"/>
                              <line x1="6" y1="10" x2="14" y2="10" stroke="#0D2026" stroke-width="1" stroke-linecap="round"/>
                            </svg>
                          </button>
                        </div>
                        <div class="mini-atc-modal__variant-price">£12.99</div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Divider -->
                  <div class="mini-atc-modal__variant-divider"></div>
                  
                  <!-- Bronze -->
                  <div class="mini-atc-modal__variant-row">
                    <div class="mini-atc-modal__variant-image">
                      <img src="{{ 'dusk_charcoal.png' | asset_url }}" alt="Bronze Cup" width="37" height="64" />
                    </div>
                    <div class="mini-atc-modal__variant-details">
                      <div class="mini-atc-modal__variant-info">
                        <h4 class="mini-atc-modal__variant-name">Bronze</h4>
                        <p class="mini-atc-modal__variant-description">Premium finish</p>
                      </div>
                      <div class="mini-atc-modal__variant-controls">
                        <div class="mini-atc-modal__counter">
                          <button class="mini-atc-modal__counter-btn mini-atc-modal__counter-decrement" type="button">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="10" cy="10" r="9.5" fill="transparent" stroke="#0D2026" stroke-opacity="0.1"/>
                              <line x1="6" y1="10" x2="14" y2="10" stroke="#0D2026" stroke-width="1" stroke-linecap="round"/>
                            </svg>
                          </button>
                          <div class="mini-atc-modal__counter-value">1</div>
                          <button class="mini-atc-modal__counter-btn mini-atc-modal__counter-increment" type="button">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="10" cy="10" r="9.5" fill="transparent" stroke="#0D2026" stroke-opacity="0.1"/>
                              <line x1="10" y1="6" x2="10" y2="14" stroke="#0D2026" stroke-width="1" stroke-linecap="round"/>
                              <line x1="6" y1="10" x2="14" y2="10" stroke="#0D2026" stroke-width="1" stroke-linecap="round"/>
                            </svg>
                          </button>
                        </div>
                        <div class="mini-atc-modal__variant-price">£12.99</div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Divider -->
                  <div class="mini-atc-modal__variant-divider"></div>
                  
                  <!-- Rose Gold -->
                  <div class="mini-atc-modal__variant-row">
                    <div class="mini-atc-modal__variant-image">
                      <img src="{{ 'dawn_charcoal.png' | asset_url }}" alt="Rose Gold Cup" width="37" height="64" />
                    </div>
                    <div class="mini-atc-modal__variant-details">
                      <div class="mini-atc-modal__variant-info">
                        <h4 class="mini-atc-modal__variant-name">Rose Gold</h4>
                        <p class="mini-atc-modal__variant-description">Elegant choice</p>
                      </div>
                      <div class="mini-atc-modal__variant-controls">
                        <div class="mini-atc-modal__counter">
                          <button class="mini-atc-modal__counter-btn mini-atc-modal__counter-decrement" type="button">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="10" cy="10" r="9.5" fill="transparent" stroke="#0D2026" stroke-opacity="0.1"/>
                              <line x1="6" y1="10" x2="14" y2="10" stroke="#0D2026" stroke-width="1" stroke-linecap="round"/>
                            </svg>
                          </button>
                          <div class="mini-atc-modal__counter-value">1</div>
                          <button class="mini-atc-modal__counter-btn mini-atc-modal__counter-increment" type="button">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="10" cy="10" r="9.5" fill="transparent" stroke="#0D2026" stroke-opacity="0.1"/>
                              <line x1="10" y1="6" x2="10" y2="14" stroke="#0D2026" stroke-width="1" stroke-linecap="round"/>
                              <line x1="6" y1="10" x2="14" y2="10" stroke="#0D2026" stroke-width="1" stroke-linecap="round"/>
                            </svg>
                          </button>
                        </div>
                        <div class="mini-atc-modal__variant-price">£12.99</div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Divider -->
                  <div class="mini-atc-modal__variant-divider"></div>
                  
                  <!-- Silver -->
                  <div class="mini-atc-modal__variant-row">
                    <div class="mini-atc-modal__variant-image">
                      <img src="{{ 'dawn_natural.png' | asset_url }}" alt="Silver Cup" width="37" height="64" />
                    </div>
                    <div class="mini-atc-modal__variant-details">
                      <div class="mini-atc-modal__variant-info">
                        <h4 class="mini-atc-modal__variant-name">Silver</h4>
                        <p class="mini-atc-modal__variant-description">Classic style</p>
                      </div>
                      <div class="mini-atc-modal__variant-controls">
                        <div class="mini-atc-modal__counter">
                          <button class="mini-atc-modal__counter-btn mini-atc-modal__counter-decrement" type="button">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="10" cy="10" r="9.5" fill="transparent" stroke="#0D2026" stroke-opacity="0.1"/>
                              <line x1="6" y1="10" x2="14" y2="10" stroke="#0D2026" stroke-width="1" stroke-linecap="round"/>
                            </svg>
                          </button>
                          <div class="mini-atc-modal__counter-value">1</div>
                          <button class="mini-atc-modal__counter-btn mini-atc-modal__counter-increment" type="button">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="10" cy="10" r="9.5" fill="transparent" stroke="#0D2026" stroke-opacity="0.1"/>
                              <line x1="10" y1="6" x2="10" y2="14" stroke="#0D2026" stroke-width="1" stroke-linecap="round"/>
                              <line x1="6" y1="10" x2="14" y2="10" stroke="#0D2026" stroke-width="1" stroke-linecap="round"/>
                            </svg>
                          </button>
                        </div>
                        <div class="mini-atc-modal__variant-price">£12.99</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </div>


        </div>
      </div>

      <!-- Checkout Content Wrapper -->
      <div class="mini-atc-modal__checkout-wrap mini-atc-modal__content-wrap">
        <!-- Step Process Indicator -->
        <div class="step-process-indicator">
          <h3 class="step-process-indicator__header">🔥 You're only 1 CHUUG away to unlock <span>EXTRA £30 OFF</span></h3>
          <div class="step-process-indicator__progress-bar">
            <div class="step-process-indicator__progress-fill"></div>
          </div>
          <div class="step-process-indicator__steps">
            <!-- Step 1: Buy More & Save -->
            <div class="step-process-indicator__step step-process-indicator__step--completed">
              <div class="step-process-indicator__step-icon">
                <div class="step-process-indicator__step-circle">
                  <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 5L5 9L14 1" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
              <div class="step-process-indicator__step-text">Buy More & Save</div>
            </div>
            
            <!-- Step 2: Free Shipping -->
            <div class="step-process-indicator__step step-process-indicator__step--completed">
              <div class="step-process-indicator__step-icon">
                <div class="step-process-indicator__step-circle">
                  <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 5L5 9L14 1" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
              <div class="step-process-indicator__step-text">Free Shipping</div>
            </div>
            
            <!-- Step 3: Unlock Extra £30 OFF -->
            <div class="step-process-indicator__step step-process-indicator__step--active">
              <div class="step-process-indicator__step-icon">
                <div class="step-process-indicator__step-circle">
                  <span class="step-process-indicator__pound-symbol">£</span>
                </div>
              </div>
              <div class="step-process-indicator__step-text">Unlock Extra £30 OFF</div>
            </div>
          </div>
        </div>
        
        <!-- Countdown Timer -->
        <div class="countdown-timer">
          <span class="countdown-timer__text">⏰ Extra £30 off ends in: <span class="countdown-timer__time">XX:XX:XX</span></span>
        </div>

        
        <div class="cart-items">
          {% for item in cart.items %}
            {% render 'checkout-products-wrap', item: item %}
          {% endfor %}
        </div>
      </div>




      <div class="recommendation-separator">
        <span class="recommendation-separator-text">Recommended Add-Ons</span>
      </div>
      <div class="mini-atc-modal__recommendation">
        <!-- Premium Gift Box & Wrap Component -->
        <div class="premium-gift-box">
          <div class="premium-gift-box__container">
            <!-- Product Image -->
            <div class="premium-gift-box__image">
              <img src="{{ 'premium-gift-box.png' | asset_url }}" alt="Premium Gift Box & Wrap" width="71" height="89" />
            </div>
            
            <!-- Content Area -->
            <div class="premium-gift-box__content">
              <div class="premium-gift-box__details">
                <div class="premium-gift-box__text">
                  <h4 class="premium-gift-box__title">Premium Gift Box & Wrap<br>With All CHUUG Orders</h4>
                </div>
                <div class="premium-gift-box__price">£2.00</div>
              </div>
              
              <!-- Toggle Section -->
              <div class="premium-gift-box__toggle-section">
                <div class="premium-gift-box__toggle-container">
                  <label class="premium-gift-box__toggle">
                    <input type="checkbox" id="premium-gift-box-toggle" class="premium-gift-box__toggle-input">
                    <span class="premium-gift-box__toggle-slider"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Fixed Footer -->
    <div class="mini-atc-modal__footer">
      <div class="mini-atc-modal__subtotal-row">
        <div class="mini-atc-modal__left-section">
          <span class="mini-atc-modal__subtotal-label">Subtotal</span>
        </div>
        <div class="mini-atc-modal__right-section">
          <div class="mini-atc-modal__pricing">
            <div class="mini-atc-modal__prices">
              <span class="mini-atc-modal__current-price" id="mini-atc-current-price">$78.00</span>
              <span class="mini-atc-modal__original-price" id="mini-atc-original-price">$190.00</span>
            </div>
          </div>
          <div class="mini-atc-modal__savings">
            <svg class="mini-atc-modal__savings-icon" width="15" height="15" viewBox="0 0 15 15" fill="none">
              <path d="M7.5 0L9.18 5.18L15 5.18L10.41 8.32L12.09 13.5L7.5 10.36L2.91 13.5L4.59 8.32L0 5.18L5.82 5.18L7.5 0Z" fill="#A43223"/>
            </svg>
            <span class="mini-atc-modal__savings-text">You Saved $45.64</span>
          </div>
        </div>
      </div>
      
      <button class="mini-atc-modal__add-to-cart-btn" onclick="addToCartFromModal()">
        ADD TO CART
      </button>
    </div>
  </div>
</div>

<script>
(function() {
  'use strict';



  

  // ========================================
  // CONSTANTS AND INITIAL STATE
  // ========================================
  const STORAGE_KEY = 'chuug_vessel_selections';
  const DEFAULT_VESSEL_COUNT = 3;
  const DEBOUNCE_DELAY = 100;
  const VALIDATION_DELAY = 200;
  
  const DEFAULT_VESSEL_SELECTIONS = {
    1: { woodType: null, ropeType: null },
    2: { woodType: null, ropeType: null },
    3: { woodType: null, ropeType: null }
  };

  // ========================================
  // STATE MANAGEMENT
  // ========================================
  let state = {
    vesselSelections: { ...DEFAULT_VESSEL_SELECTIONS },
    activeVessel: 1,
    currentVesselCount: DEFAULT_VESSEL_COUNT,
    updateTimeout: null,
    validationTimeout: null,
    imageCache: new Map(),
    domCache: new Map(),
    vesselUIState: new Map() // Track UI state per vessel
  };

  // ========================================
  // UTILITY FUNCTIONS
  // ========================================
  function debounce(func, delay) {
    let timeoutId;
    return function(...args) {
      clearTimeout(timeoutId);
      timeoutId = setTimeout(() => func.apply(this, args), delay);
    };
  }

  function getFromCache(key, selector) {
    if (!state.domCache.has(key)) {
      const element = document.querySelector(selector);
      if (element) state.domCache.set(key, element);
    }
    return state.domCache.get(key);
  }

  function getAllFromCache(key, selector) {
    if (!state.domCache.has(key)) {
      const elements = document.querySelectorAll(selector);
      if (elements.length) state.domCache.set(key, elements);
    }
    return state.domCache.get(key) || [];
  }

  function clearDomCache() {
    state.domCache.clear();
  }

  // ========================================
  // STORAGE FUNCTIONS
  // ========================================
  const storage = {
    save() {
      try {
        localStorage.setItem(STORAGE_KEY, JSON.stringify(state.vesselSelections));
      } catch (error) {
        // Silent fail for storage issues
      }
    },

    load() {
      try {
        const saved = localStorage.getItem(STORAGE_KEY);
        if (saved) {
          const parsed = JSON.parse(saved);
          state.vesselSelections = { ...DEFAULT_VESSEL_SELECTIONS, ...parsed };
          return true;
        }
      } catch (error) {
        // Silent fail for storage issues
      }
      return false;
    },

    clear() {
      try {
        localStorage.removeItem(STORAGE_KEY);
        state.vesselSelections = { ...DEFAULT_VESSEL_SELECTIONS };
      } catch (error) {
        // Silent fail for storage issues
      }
    }
  };

  // ========================================
  // SELECTION MANAGEMENT
  // ========================================
  function updateVesselSelection(vesselNumber, type, value) {
    state.vesselSelections[vesselNumber][type] = value;
    
    // Maintain UI state for this vessel
    maintainVesselUIState(vesselNumber);
    
    // Clear timeouts and debounce updates
    clearTimeout(state.updateTimeout);
    clearTimeout(state.validationTimeout);
    
    state.updateTimeout = setTimeout(() => {
      storage.save();
      updateSelectionDisplay(false);
    }, DEBOUNCE_DELAY);
    
    state.validationTimeout = setTimeout(() => {
      const validation = validateVesselSelections();
      showValidationFeedback(validation);
    }, VALIDATION_DELAY);
  }

  function maintainVesselUIState(vesselNumber) {
    const vesselPanel = document.getElementById(`tab${vesselNumber}`);
    if (!vesselPanel) return;

    const selection = state.vesselSelections[vesselNumber];
    
    // Store current UI state for this vessel
    const uiState = {
      woodType: selection.woodType,
      ropeType: selection.ropeType,
      woodInputs: [],
      ropeInputs: []
    };

    // Capture wood type input states
    const woodInputs = vesselPanel.querySelectorAll('input[name^="wood_material_"]');
    woodInputs.forEach(input => {
      uiState.woodInputs.push({
        value: input.value,
        checked: input.checked,
        labelActive: input.closest('.wood-type-label').classList.contains('active')
      });
    });

    // Capture rope type input states
    const ropeInputs = vesselPanel.querySelectorAll('input[name^="rope_material_"]');
    ropeInputs.forEach(input => {
      uiState.ropeInputs.push({
        value: input.value,
        checked: input.checked,
        labelActive: input.closest('.rope-type-label').classList.contains('active')
      });
    });

    state.vesselUIState.set(vesselNumber, uiState);
  }

  function restoreVesselUIState(vesselNumber) {
    const uiState = state.vesselUIState.get(vesselNumber);
    if (!uiState) return;

    const vesselPanel = document.getElementById(`tab${vesselNumber}`);
    if (!vesselPanel) return;

    // Restore wood type selections
    if (uiState.woodType) {
      const woodInput = vesselPanel.querySelector(`input[name="wood_material_${vesselNumber}"][value="${uiState.woodType}"]`);
      if (woodInput) {
        woodInput.checked = true;
        vesselPanel.querySelectorAll('.wood-type-label').forEach(label => {
          label.classList.remove('active');
        });
        woodInput.closest('.wood-type-label').classList.add('active');
      }
    }

    // Restore rope type selections
    if (uiState.ropeType) {
      const ropeInput = vesselPanel.querySelector(`input[name="rope_material_${vesselNumber}"][value="${uiState.ropeType}"]`);
      if (ropeInput) {
        ropeInput.checked = true;
        vesselPanel.querySelectorAll('.rope-type-label').forEach(label => {
          label.classList.remove('active');
        });
        ropeInput.closest('.rope-type-label').classList.add('active');
      }
    }
  }

  function clearAllPreselectedOptions() {
    const allInputs = getAllFromCache('allInputs', 'input[name^="wood_material_"], input[name^="rope_material_"]');
    allInputs.forEach(input => {
      input.checked = false;
      const label = input.closest('label');
      if (label) label.classList.remove('active');
    });
  }

  function clearPreselectedOptionsForHiddenVessels(maxVesselCount) {
    // Only clear options for vessels beyond the current count
    for (let i = maxVesselCount + 1; i <= 3; i++) {
      const vesselInputs = document.querySelectorAll(`input[name^="wood_material_${i}"], input[name^="rope_material_${i}"]`);
      vesselInputs.forEach(input => {
        input.checked = false;
        const label = input.closest('label');
        if (label) label.classList.remove('active');
      });
    }
  }

  function restoreValidVesselStates(maxVesselCount) {
    // Restore UI state for vessels that are still visible
    for (let vesselNum = 1; vesselNum <= maxVesselCount; vesselNum++) {
      const selection = state.vesselSelections[vesselNum];
      if (selection && (selection.woodType || selection.ropeType)) {
        const vesselPanel = document.getElementById(`tab${vesselNum}`);
        if (!vesselPanel) continue;

        // Restore wood type selection
        if (selection.woodType) {
          const woodInput = vesselPanel.querySelector(`input[name="wood_material_${vesselNum}"][value="${selection.woodType}"]`);
          if (woodInput) {
            woodInput.checked = true;
            vesselPanel.querySelectorAll('.wood-type-label').forEach(label => {
              label.classList.remove('active');
            });
            woodInput.closest('.wood-type-label').classList.add('active');
          }
        }
        
        // Restore rope type selection
        if (selection.ropeType) {
          const ropeInput = vesselPanel.querySelector(`input[name="rope_material_${vesselNum}"][value="${selection.ropeType}"]`);
          if (ropeInput) {
            ropeInput.checked = true;
            vesselPanel.querySelectorAll('.rope-type-label').forEach(label => {
              label.classList.remove('active');
            });
            ropeInput.closest('.rope-type-label').classList.add('active');
          }
        }

        // Update the UI state for this vessel
        maintainVesselUIState(vesselNum);
      }
    }
  }

  function restoreUIFromSelections() {
    for (let vesselNum = 1; vesselNum <= 3; vesselNum++) {
      const selection = state.vesselSelections[vesselNum];
      const vesselPanel = document.getElementById(`tab${vesselNum}`);
      
      if (!vesselPanel || !selection) continue;

      // Restore wood type selection
      if (selection.woodType) {
        const woodInput = vesselPanel.querySelector(`input[name="wood_material_${vesselNum}"][value="${selection.woodType}"]`);
        if (woodInput) {
          woodInput.checked = true;
          vesselPanel.querySelectorAll('.wood-type-label').forEach(label => {
            label.classList.remove('active');
          });
          woodInput.closest('.wood-type-label').classList.add('active');
        }
      }
      
      // Restore rope type selection
      if (selection.ropeType) {
        const ropeInput = vesselPanel.querySelector(`input[name="rope_material_${vesselNum}"][value="${selection.ropeType}"]`);
        if (ropeInput) {
          ropeInput.checked = true;
          vesselPanel.querySelectorAll('.rope-type-label').forEach(label => {
            label.classList.remove('active');
          });
          ropeInput.closest('.rope-type-label').classList.add('active');
        }
      }

      // Store initial UI state for this vessel
      maintainVesselUIState(vesselNum);
    }
  }

  // ========================================
  // TAB MANAGEMENT
  // ========================================
  function initializeTabs() {
    const tabComponent = getFromCache('tabComponent', '[data-tabs]');
    if (!tabComponent) return;

    const tabs = getAllFromCache('tabs', '[data-tab]');
    const contents = getAllFromCache('contents', '[id^="tab"]');

    // Use event delegation for better performance
    tabComponent.addEventListener('click', function(e) {
      const btn = e.target.closest('[data-tab]');
      if (!btn) return;

      const target = btn.getAttribute('data-tab');
      const vesselNumber = parseInt(target.replace('tab', ''));
      
      // Update active tab styles
      tabs.forEach(b => {
        b.classList.remove('active');
        b.classList.add('inactive');
      });
      btn.classList.remove('inactive');
      btn.classList.add('active');

      // Toggle content
      contents.forEach(c => {
        c.classList.remove('active');
        c.style.display = 'none';
        if (c.id === target) {
          c.classList.add('active');
          c.style.display = 'block';
        }
      });

      // Update active vessel
      state.activeVessel = vesselNumber;
      
      // Restore UI state for the newly active vessel
      restoreVesselUIState(vesselNumber);
      
      updateSelectionDisplay(true);
    });
  }

  // ========================================
  // SELECTION INPUT HANDLERS
  // ========================================
  function initializeSelectionInputs() {
    const customizeVessel = getFromCache('customizeVessel', '.customize-your-vessel');
    if (!customizeVessel) return;

    // Use event delegation for better performance
    customizeVessel.addEventListener('change', function(e) {
      const input = e.target;
      
      if (input.name && input.name.startsWith('wood_material_')) {
        handleWoodSelection(input);
      } else if (input.name && input.name.startsWith('rope_material_')) {
        handleRopeSelection(input);
      }
    });
  }

  function handleWoodSelection(input) {
    const vesselPanel = input.closest('.vessel-tab-panel');
    if (!vesselPanel) return;

    const vesselNumber = parseInt(vesselPanel.id.replace('tab', ''));
    const woodType = input.value;
    
    // Update active state for wood type labels
    vesselPanel.querySelectorAll('.wood-type-label').forEach(label => {
      label.classList.remove('active');
    });
    input.closest('.wood-type-label').classList.add('active');
    
    updateVesselSelection(vesselNumber, 'woodType', woodType);
  }

  function handleRopeSelection(input) {
    const vesselPanel = input.closest('.vessel-tab-panel');
    if (!vesselPanel) return;

    const vesselNumber = parseInt(vesselPanel.id.replace('tab', ''));
    const ropeType = input.value;
    
    // Update active state for rope type labels
    vesselPanel.querySelectorAll('.rope-type-label').forEach(label => {
      label.classList.remove('active');
    });
    input.closest('.rope-type-label').classList.add('active');
    
    updateVesselSelection(vesselNumber, 'ropeType', ropeType);
  }

  // ========================================
  // DISPLAY FUNCTIONS
  // ========================================
  function updateSelectionDisplay(isTabSwitch = false) {
    const selectionWrap = getFromCache('selectionWrap', '.selection-result-wrap');
    const noSelectionText = getFromCache('noSelectionText', '.no-selection-text');
    
    if (!selectionWrap || !noSelectionText) return;

    // Clear CSS classes
    selectionWrap.classList.remove('result-1', 'result-2', 'result-3');
    
    // Check if we have any selections
    let hasAnySelections = false;
    for (let vesselNum = 1; vesselNum <= 3; vesselNum++) {
      const selection = state.vesselSelections[vesselNum];
      if (selection.woodType || selection.ropeType) {
        hasAnySelections = true;
        break;
      }
    }
    
    // Show/hide no selection text
    if (hasAnySelections || state.vesselSelections[state.activeVessel].woodType || state.vesselSelections[state.activeVessel].ropeType) {
      noSelectionText.style.display = 'none';
    } else {
      noSelectionText.style.display = 'block';
      return;
    }

    // Update result items for current vessel count
    for (let vesselNum = 1; vesselNum <= state.currentVesselCount; vesselNum++) {
      const selection = state.vesselSelections[vesselNum];
      
      let resultItem = selectionWrap.querySelector(`.result-item[data-vessel="${vesselNum}"]`);
      
      if (!resultItem) {
        resultItem = createResultItem(vesselNum);
        insertResultItemAtPosition(selectionWrap, resultItem, vesselNum);
      }
      
      updateResultItemContent(resultItem, selection, vesselNum, isTabSwitch);
    }
    
    // Remove result items beyond current vessel count
    const allResultItems = selectionWrap.querySelectorAll('.result-item');
    allResultItems.forEach(item => {
      const itemVesselNum = parseInt(item.getAttribute('data-vessel'));
      if (itemVesselNum > state.currentVesselCount) {
        item.remove();
      }
    });
    
    // Apply CSS class based on number of vessels shown
    const vesselCount = selectionWrap.querySelectorAll('.result-item').length;
    if (vesselCount > 0) {
      selectionWrap.classList.add(`result-${vesselCount}`);
    }
  }

  function createResultItem(vesselNum) {
    const resultItem = document.createElement('div');
    resultItem.className = 'result-item';
    resultItem.setAttribute('data-vessel', vesselNum);
    
    // Add click handler to switch vessels
    resultItem.addEventListener('click', () => switchToVessel(vesselNum));
    
    return resultItem;
  }

  function insertResultItemAtPosition(container, newItem, vesselNum) {
    const existingItems = container.querySelectorAll('.result-item');
    let insertBefore = null;
    
    for (let i = 0; i < existingItems.length; i++) {
      const existingVesselNum = parseInt(existingItems[i].getAttribute('data-vessel'));
      if (vesselNum < existingVesselNum) {
        insertBefore = existingItems[i];
        break;
      }
    }
    
    if (insertBefore) {
      container.insertBefore(newItem, insertBefore);
    } else {
      container.appendChild(newItem);
    }
  }

  function updateResultItemContent(resultItem, selection, vesselNum, isTabSwitch) {
    // Get or create existing elements
    let imgWrap = resultItem.querySelector('.img-wrap');
    let img = resultItem.querySelector('.img-wrap img');
    let text = resultItem.querySelector('p');
    
    if (!imgWrap) {
      imgWrap = document.createElement('div');
      imgWrap.className = 'img-wrap';
      resultItem.appendChild(imgWrap);
    }
    
    if (!img) {
      img = document.createElement('img');
      imgWrap.appendChild(img);
    }
    
    if (!text) {
      text = document.createElement('p');
      resultItem.appendChild(text);
    }
    
    // Determine content
    let newImageSrc = '';
    let newAltText = '';
    let shouldShowLoading = false;
    
    if (selection.woodType && selection.ropeType) {
      // Complete selection
      const imageName = `${selection.woodType.toLowerCase()}_${selection.ropeType.toLowerCase()}.png`;
      newAltText = `${selection.woodType} ${selection.ropeType} Vessel #${vesselNum}`;
      
      // Check cache first
      if (state.imageCache.has(imageName)) {
        newImageSrc = state.imageCache.get(imageName);
      } else {
        newImageSrc = `{{ 'dusk_natural.png' | asset_url }}`.replace('dusk_natural.png', imageName);
        shouldShowLoading = !isTabSwitch && vesselNum === state.activeVessel;
      }
    } else {
      // Partial or no selection
      newImageSrc = 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI0IiBoZWlnaHQ9IjE1MiIgdmlld0JveD0iMCAwIDEyNCAxNTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHdpZHRoPSIxMjQiIGhlaWdodD0iMTUyIiBmaWxsPSIjMWExYTFhIi8+Cjwvc3ZnPgo=';
      newAltText = (isTabSwitch || vesselNum !== state.activeVessel) ? 'Partial selection' : 'Loading...';
      shouldShowLoading = !isTabSwitch && vesselNum === state.activeVessel;
    }
    
    // Update image efficiently
    if (img.src !== newImageSrc) {
      if (selection.woodType && selection.ropeType && !state.imageCache.has(`${selection.woodType.toLowerCase()}_${selection.ropeType.toLowerCase()}.png`)) {
        loadImageOptimized(img, newImageSrc, selection, shouldShowLoading, resultItem);
      } else {
        img.src = newImageSrc;
        img.style.display = 'block';
      }
    }
    
    img.alt = newAltText;
    
    // Update text content
    updateTextContent(text, selection, vesselNum);
    
    // Update loading and active states
    if (shouldShowLoading) {
      resultItem.classList.add('loading');
    } else {
      resultItem.classList.remove('loading');
    }
    
    if (!selection.woodType && !selection.ropeType) {
      resultItem.classList.add('active-vessel');
    } else {
      resultItem.classList.remove('active-vessel');
    }
  }

  function loadImageOptimized(img, src, selection, shouldShowLoading, resultItem) {
    const imageName = `${selection.woodType.toLowerCase()}_${selection.ropeType.toLowerCase()}.png`;
    
    img.style.display = 'none';
    const preloadImg = new Image();
    
    preloadImg.onload = function() {
      state.imageCache.set(imageName, preloadImg.src);
      img.src = preloadImg.src;
      img.style.display = 'block';
      if (shouldShowLoading) resultItem.classList.remove('loading');
    };
    
    preloadImg.onerror = function() {
      img.style.display = 'block';
      img.src = 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI0IiBoZWlnaHQ9IjE1MiIgdmlld0JveD0iMCAwIDEyNCAxNTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHdpZHRoPSIxMjQiIGhlaWdodD0iMTUyIiBmaWxsPSIjMWExYTFhIi8+Cjwvc3ZnPgo=';
      if (shouldShowLoading) resultItem.classList.remove('loading');
    };
    
    preloadImg.src = src;
  }

  function updateTextContent(text, selection, vesselNum) {
    if (selection.woodType || selection.ropeType) {
      if (selection.woodType && selection.ropeType) {
        text.textContent = `${selection.woodType} • ${selection.ropeType}`;
      } else {
        const selectedParts = [];
        if (selection.woodType) selectedParts.push(selection.woodType);
        if (selection.ropeType) selectedParts.push(selection.ropeType);
        text.textContent = `${selectedParts.join(' • ')} • ...`;
      }
      text.style.opacity = '';
    } else {
      text.textContent = `Vessel #${vesselNum}`;
      text.style.opacity = '0.5';
    }
  }

  function switchToVessel(vesselNumber) {
    if (vesselNumber >= 1 && vesselNumber <= 3) {
      const tabButton = document.querySelector(`[data-tab="tab${vesselNumber}"]`);
      if (tabButton) tabButton.click();
    }
  }

  // ========================================
  // VESSEL COUNT MANAGEMENT
  // ========================================
  function updateVesselTabVisibility(vesselCount) {
    const vesselCountNum = parseInt(vesselCount);
    state.currentVesselCount = vesselCountNum;
    
    // Check if current active vessel is beyond the new count
    if (state.activeVessel > vesselCountNum) {
      state.activeVessel = 1;
      // Immediately switch to vessel 1 to ensure proper state restoration
      switchToVessel(1);
    }
    
    // Update vessel tab buttons visibility
    for (let i = 1; i <= 3; i++) {
      const tabButton = document.querySelector(`.vessel_number_${i}`);
      const tabPanel = document.querySelector(`#tab${i}`);
      
      if (tabButton && tabPanel) {
        if (i <= vesselCountNum) {
          tabButton.style.display = 'flex';
          if (i === state.activeVessel) {
            tabPanel.style.display = 'block';
            tabButton.classList.remove('inactive');
            tabButton.classList.add('active');
          } else {
            tabPanel.style.display = 'none';
            tabButton.classList.remove('active');
            tabButton.classList.add('inactive');
          }
        } else {
          tabButton.style.display = 'none';
          tabPanel.style.display = 'none';
          tabButton.classList.remove('active', 'inactive');
        }
      }
    }
    
    // Clear selections for vessels beyond the new vessel count
    for (let i = vesselCountNum + 1; i <= 3; i++) {
      if (state.vesselSelections[i] && (state.vesselSelections[i].woodType || state.vesselSelections[i].ropeType)) {
        state.vesselSelections[i] = { woodType: null, ropeType: null };
        
        // Clear UI state for this vessel
        state.vesselUIState.delete(i);
        
        // Clear radio button selections for this vessel
        const vesselInputs = document.querySelectorAll(`input[name^="wood_material_${i}"], input[name^="rope_material_${i}"]`);
        vesselInputs.forEach(input => {
          input.checked = false;
          input.closest('label').classList.remove('active');
        });
      }
    }
    
    storage.save();
    
    // Clear pre-selected options only for vessels beyond the current count, then restore valid vessels
    requestAnimationFrame(() => {
      clearPreselectedOptionsForHiddenVessels(vesselCountNum);
      restoreValidVesselStates(vesselCountNum);
      
      // Ensure the current active vessel's state is properly restored
      if (state.activeVessel <= vesselCountNum) {
        restoreVesselUIState(state.activeVessel);
      }
      
      updateSelectionDisplay(false);
    });
  }

  // ========================================
  // VALIDATION
  // ========================================
  function validateVesselSelections() {
    const warnings = [];
    
    for (let vesselNum = 1; vesselNum <= 3; vesselNum++) {
      const selection = state.vesselSelections[vesselNum];
      
      if ((selection.woodType && !selection.ropeType) || (!selection.woodType && selection.ropeType)) {
        warnings.push(`Vessel #${vesselNum} has incomplete selection`);
      }
    }
    
    return { errors: [], warnings };
  }

  function showValidationFeedback(validation) {
    const existingFeedback = document.querySelector('.validation-feedback');
    if (existingFeedback) existingFeedback.remove();
    
    if (validation.warnings.length > 0) {
      const feedback = document.createElement('div');
      feedback.className = 'validation-feedback tw-mt-2 tw-p-2 tw-bg-yellow-100 tw-text-yellow-800 tw-rounded tw-text-sm';
      feedback.innerHTML = validation.warnings.map(warning => `⚠️ ${warning}`).join('<br>');
      
      const selectionWrap = getFromCache('selectionWrap', '.selection-result-wrap');
      if (selectionWrap && selectionWrap.parentNode) {
        selectionWrap.parentNode.insertBefore(feedback, selectionWrap.nextSibling);
      }
    }
  }

  // ========================================
  // PRODUCT AMOUNT OVERRIDE
  // ========================================
  function setupSetProductAmountOverride() {
    if (typeof window.setProductAmount === 'function') {
      window.originalSetProductAmount = window.setProductAmount;
    } else {
      return false;
    }

    window.setProductAmount = function(amount) {
      if (window.originalSetProductAmount) {
        window.originalSetProductAmount(amount);
      }
      updateVesselTabVisibility(amount);
    };
    
    return true;
  }

  // ========================================
  // INITIALIZATION
  // ========================================
  function initialize() {
    // Initialize state
    state.currentVesselCount = DEFAULT_VESSEL_COUNT;
    
    // Clear any pre-selected options
    clearAllPreselectedOptions();
    
    // Initialize components
    initializeTabs();
    initializeSelectionInputs();
    initializeModalEventListeners();
    
    // Load saved selections
    const hasLoadedSelections = storage.load();
    if (hasLoadedSelections) {
      restoreUIFromSelections();
    }
    updateSelectionDisplay(false);
    
    // Setup cleanup on page unload
    const cleanup = debounce(storage.clear, 100);
    window.addEventListener('beforeunload', cleanup);
    document.addEventListener('visibilitychange', function() {
      if (document.hidden) cleanup();
    });
  }

  // ========================================
  // ENTRY POINT
  // ========================================
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initialize);
  } else {
    initialize();
  }

  // Setup product amount override with fallback attempts
  if (!setupSetProductAmountOverride()) {
    const retrySetup = debounce(() => {
      if (!setupSetProductAmountOverride()) {
        setTimeout(() => setupSetProductAmountOverride(), 1000);
      }
    }, 100);
    retrySetup();
  }

  // ========================================
  // MINI ATC MODAL FUNCTIONS
  // ========================================
  function handlePersonalizeVessel() {
    // Get current vessel selections to populate modal
    const currentSelections = state.vesselSelections[state.activeVessel];
    const vesselCount = state.currentVesselCount;
    
    // Calculate pricing based on current selections
    updateModalPricing(vesselCount, currentSelections);
    
    // Update product image based on current selection
    updateModalProductImage(currentSelections);
    
    // Show the modal
    showMiniATCModal();
  }

  function showMiniATCModal() {
    const modal = document.getElementById('mini-atc-modal');
    if (modal) {
      // Reset modal to personalise view
      resetModalToPersonaliseView(modal);
      
      // Force reflow to ensure initial state is applied
      modal.offsetHeight;
      modal.classList.add('mini-atc-modal--active');
      document.body.style.overflow = 'hidden'; // Prevent background scrolling
      
      // Initialize swiper after modal is shown (with a small delay to ensure DOM is ready)
      setTimeout(() => {
        if (!window.miniATCProductSwiper) {
          window.miniATCProductSwiper = initProductSwiper();
        }
      }, 100);
    }
  }

  function resetModalToPersonaliseView(modal) {
    const header = modal.querySelector('.mini-atc-modal__title');
    const personaliseWrap = modal.querySelector('.mini-atc-modal__personalise-wrap');
    const checkoutWrap = modal.querySelector('.mini-atc-modal__checkout-wrap');
    
    if (!personaliseWrap || !checkoutWrap || !header) return;
    
    // Reset header text
    header.textContent = 'Personalise Your CHUUG';
    
    // Reset content wrappers
    personaliseWrap.classList.add('mini-atc-modal__content-wrap--active');
    checkoutWrap.classList.remove('mini-atc-modal__content-wrap--active');
    
    // Reset styles
    personaliseWrap.style.opacity = '1';
    personaliseWrap.style.transform = 'translateX(0)';
    checkoutWrap.style.opacity = '0';
    checkoutWrap.style.transform = 'translateX(20px)';
  }

  function closeMiniATCModal() {
    const modal = document.getElementById('mini-atc-modal');
    if (modal) {
      modal.classList.remove('mini-atc-modal--active');
      document.body.style.overflow = ''; // Restore scrolling
    }
  }

  // Add overlay click handler
  function initializeModalEventListeners() {
    const modal = document.getElementById('mini-atc-modal');
    const overlay = modal?.querySelector('.mini-atc-modal__overlay');
    
    if (overlay) {
      overlay.addEventListener('click', closeMiniATCModal);
    }
  }

  function updateModalPricing(vesselCount, selections) {
    // This would integrate with your existing pricing logic
    // For now, using placeholder values
    const currentPriceEl = document.getElementById('mini-atc-current-price');
    const originalPriceEl = document.getElementById('mini-atc-original-price');
    
    if (currentPriceEl && originalPriceEl) {
      // You can integrate this with your existing price calculation logic
      currentPriceEl.textContent = '$78.00';
      originalPriceEl.textContent = '$190.00';
    }
  }

  function updateModalProductImage(selections) {
    const swiper = window.miniATCProductSwiper;
    if (!swiper || !swiper.slides) return;
    
    if (selections.woodType && selections.ropeType) {
      // Update the first slide with the selected combination
      const imageName = `${selections.woodType.toLowerCase()}_${selections.ropeType.toLowerCase()}.png`;
      const firstSlideImg = swiper.slides[0]?.querySelector('img');
      if (firstSlideImg) {
        firstSlideImg.src = `{{ 'dusk_natural.png' | asset_url }}`.replace('dusk_natural.png', imageName);
        firstSlideImg.alt = `CHUUG Vessel - ${selections.woodType} ${selections.ropeType}`;
      }
      
      // Slide to the first image to show the selection
      swiper.slideTo(0);
    } else {
      // Show default image on first slide
      const firstSlideImg = swiper.slides[0]?.querySelector('img');
      if (firstSlideImg) {
        firstSlideImg.src = `{{ 'vessel-sample.png' | asset_url }}`;
        firstSlideImg.alt = 'CHUUG Vessel';
      }
    }
  }

  function addToCartFromModal() {
    // Switch to checkout view instead of closing modal
    switchToCheckoutView();
    
    // You can add your cart logic here
    console.log('Switching to checkout view...');
  }

  function switchToCheckoutView() {
    const modal = document.getElementById('mini-atc-modal');
    const header = modal.querySelector('.mini-atc-modal__title');
    const personaliseWrap = modal.querySelector('.mini-atc-modal__personalise-wrap');
    const checkoutWrap = modal.querySelector('.mini-atc-modal__checkout-wrap');
    
    if (!personaliseWrap || !checkoutWrap || !header) return;
    
    // Update header text
    header.textContent = 'Proceed to Checkout';
    
    // Start crossfade animation
    personaliseWrap.style.opacity = '0';
    personaliseWrap.style.transform = 'translateX(-20px)';
    
    setTimeout(() => {
      // Hide personalise content and show checkout content
      personaliseWrap.classList.remove('mini-atc-modal__content-wrap--active');
      checkoutWrap.classList.add('mini-atc-modal__content-wrap--active');
      
      // Reset and animate checkout content
      checkoutWrap.style.opacity = '0';
      checkoutWrap.style.transform = 'translateX(20px)';
      
      // Force reflow
      checkoutWrap.offsetHeight;
      
      // Animate in
      checkoutWrap.style.opacity = '1';
      checkoutWrap.style.transform = 'translateX(0)';
      
      // Populate checkout content
      populateCheckoutSummary();
    }, 300);
  }

  function goBackToPersonalise() {
    const modal = document.getElementById('mini-atc-modal');
    const header = modal.querySelector('.mini-atc-modal__title');
    const personaliseWrap = modal.querySelector('.mini-atc-modal__personalise-wrap');
    const checkoutWrap = modal.querySelector('.mini-atc-modal__checkout-wrap');
    
    if (!personaliseWrap || !checkoutWrap || !header) return;
    
    // Update header text
    header.textContent = 'Personalise Your CHUUG';
    
    // Start crossfade animation
    checkoutWrap.style.opacity = '0';
    checkoutWrap.style.transform = 'translateX(20px)';
    
    setTimeout(() => {
      // Hide checkout content and show personalise content
      checkoutWrap.classList.remove('mini-atc-modal__content-wrap--active');
      personaliseWrap.classList.add('mini-atc-modal__content-wrap--active');
      
      // Reset and animate personalise content
      personaliseWrap.style.opacity = '0';
      personaliseWrap.style.transform = 'translateX(-20px)';
      
      // Force reflow
      personaliseWrap.offsetHeight;
      
      // Animate in
      personaliseWrap.style.opacity = '1';
      personaliseWrap.style.transform = 'translateX(0)';
    }, 300);
  }

  function populateCheckoutSummary() {
    // Get current selections to populate checkout summary
    const currentSelections = state.vesselSelections;
    const vesselCount = state.currentVesselCount;
    
    // This would be implemented to show the actual selections
    // For now, just update the summary with current data
    console.log('Populating checkout summary with:', currentSelections, vesselCount);
  }

  function proceedToFullCheckout() {
    // This would proceed to the full Shopify checkout
    // For now, just close the modal and redirect
    closeMiniATCModal();
    
    // You can add your checkout logic here
    console.log('Proceeding to full checkout...');
  }

  // Make functions globally available
  window.handlePersonalizeVessel = handlePersonalizeVessel;
  window.closeMiniATCModal = closeMiniATCModal;
  window.addToCartFromModal = addToCartFromModal;
  window.goBackToPersonalise = goBackToPersonalise;
  window.proceedToFullCheckout = proceedToFullCheckout;

  // ========================================
  // PUBLIC API
  // ========================================
  window.pomcSystem = {
    getCurrentVesselSelection: () => state.vesselSelections[state.activeVessel],
    getAllVesselSelections: () => ({ ...state.vesselSelections }),
    getVesselSelection: (vesselNumber) => state.vesselSelections[vesselNumber] || null,
    setVesselSelection: function(vesselNumber, woodType, ropeType) {
      if (vesselNumber >= 1 && vesselNumber <= 3) {
        state.vesselSelections[vesselNumber].woodType = woodType;
        state.vesselSelections[vesselNumber].ropeType = ropeType;
        
        const vesselPanel = document.getElementById(`tab${vesselNumber}`);
        if (vesselPanel) {
          // Update wood type selection
          const woodInput = vesselPanel.querySelector(`input[name="wood_material_${vesselNumber}"][value="${woodType}"]`);
          if (woodInput) {
            woodInput.checked = true;
            vesselPanel.querySelectorAll('.wood-type-label').forEach(label => {
              label.classList.remove('active');
            });
            woodInput.closest('.wood-type-label').classList.add('active');
          }
          
          // Update rope type selection
          const ropeInput = vesselPanel.querySelector(`input[name="rope_material_${vesselNumber}"][value="${ropeType}"]`);
          if (ropeInput) {
            ropeInput.checked = true;
            vesselPanel.querySelectorAll('.rope-type-label').forEach(label => {
              label.classList.remove('active');
            });
            ropeInput.closest('.rope-type-label').classList.add('active');
          }
        }
        
        // Maintain UI state for this vessel
        maintainVesselUIState(vesselNumber);
        
        const validation = validateVesselSelections();
        showValidationFeedback(validation);
        updateSelectionDisplay(false);
      }
    },
    clearVesselSelection: function(vesselNumber) {
      if (vesselNumber >= 1 && vesselNumber <= 3) {
        state.vesselSelections[vesselNumber] = { woodType: null, ropeType: null };
        state.vesselUIState.delete(vesselNumber);
        
        const vesselPanel = document.getElementById(`tab${vesselNumber}`);
        if (vesselPanel) {
          // Clear all selections for this vessel
          const vesselInputs = vesselPanel.querySelectorAll('input[name^="wood_material_"], input[name^="rope_material_"]');
          vesselInputs.forEach(input => {
            input.checked = false;
            input.closest('label').classList.remove('active');
          });
        }
        
        storage.save();
        updateSelectionDisplay(false);
      }
    },
    clearSelections: function() {
      storage.clear();
      state.vesselUIState.clear();
      clearAllPreselectedOptions();
      updateSelectionDisplay(false);
    },
    switchToVessel: switchToVessel,
    maintainVesselState: maintainVesselUIState,
    restoreVesselState: restoreVesselUIState
  };

})();

// Vessel personalization toggle functionality
document.addEventListener('DOMContentLoaded', function() {
  // Initialize vessel toggle functionality
  function initVesselToggle() {
    const vessel1Toggle = document.getElementById('vessel-1-toggle');
    const vessel2Toggle = document.getElementById('vessel-2-toggle');
    const vessel1Input = document.getElementById('vessel-1-name');
    const vessel2Input = document.getElementById('vessel-2-name');

    // Toggle functionality for Vessel #1
    if (vessel1Toggle && vessel1Input) {
      // Initial state - input is disabled if toggle is unchecked
      vessel1Input.disabled = !vessel1Toggle.checked;
      
      vessel1Toggle.addEventListener('change', function() {
        vessel1Input.disabled = !this.checked;
        if (!this.checked) {
          vessel1Input.value = ''; // Clear the input when disabled
        }
      });
    }

    // Toggle functionality for Vessel #2
    if (vessel2Toggle && vessel2Input) {
      // Initial state - input is disabled if toggle is unchecked
      vessel2Input.disabled = !vessel2Toggle.checked;
      
      vessel2Toggle.addEventListener('change', function() {
        vessel2Input.disabled = !this.checked;
        if (!this.checked) {
          vessel2Input.value = ''; // Clear the input when disabled
        }
      });
    }

    // Add input validation for 3-character limit
    [vessel1Input, vessel2Input].forEach(input => {
      if (input) {
        input.addEventListener('input', function() {
          // Ensure uppercase and limit to 3 characters
          this.value = this.value.toUpperCase().slice(0, 3);
        });
      }
    });
  }

  // Initialize personalization toggles functionality
  function initPersonalizationToggles() {
    // Initialize all personalization section toggles
    const personalizationSections = document.querySelectorAll('.mini-atc-modal__personalization');
    
    personalizationSections.forEach(section => {
      const toggle = section.querySelector('input[type="checkbox"]');
      const completeOptions = section.querySelector('.mini-atc-modal__complete-options');
      
      if (!toggle || !completeOptions) return;
      
      // Set initial state based on toggle
      if (toggle.checked) {
        completeOptions.classList.remove('mini-atc-modal__complete-options--hidden');
      } else {
        completeOptions.classList.add('mini-atc-modal__complete-options--hidden');
      }
      
      // Add event listener for toggle
      toggle.addEventListener('change', function() {
        if (this.checked) {
          // Show the complete options with fade in
          completeOptions.classList.remove('mini-atc-modal__complete-options--hidden');
          
          // Update pricing when toggle is turned on
          if (toggle.id === 'mix-match-toggle') {
            updateMixMatchPricing();
          }
        } else {
          // Hide the complete options with fade out
          completeOptions.classList.add('mini-atc-modal__complete-options--hidden');
          
          // Handle specific section cleanup after animation
          setTimeout(() => {
            handleSectionToggleOff(section, toggle.id);
          }, 300); // Match the CSS transition duration
        }
      });
    });
  }
  
  // Handle section-specific cleanup when toggle is turned off
  function handleSectionToggleOff(section, toggleId) {
    if (toggleId === 'engraving-toggle') {
      // Handle vessel names section cleanup
      const vessel1Toggle = document.getElementById('vessel-1-toggle');
      const vessel2Toggle = document.getElementById('vessel-2-toggle');
      const vessel1Input = document.getElementById('vessel-1-name');
      const vessel2Input = document.getElementById('vessel-2-name');
      
      // Clear all input fields
      if (vessel1Input) vessel1Input.value = '';
      if (vessel2Input) vessel2Input.value = '';
      
      // Reset individual toggles to checked state (default)
      if (vessel1Toggle) vessel1Toggle.checked = true;
      if (vessel2Toggle) vessel2Toggle.checked = true;
      
      // Update input disabled states based on individual toggles
      if (vessel1Input) vessel1Input.disabled = !vessel1Toggle.checked;
      if (vessel2Input) vessel2Input.disabled = !vessel2Toggle.checked;
    } else if (toggleId === 'mix-match-toggle') {
      // Handle mix & match section cleanup
      const counters = section.querySelectorAll('.mini-atc-modal__counter-value');
      counters.forEach(counter => {
        counter.textContent = '1'; // Reset to default value
        // Update pricing for this counter
        const counterContainer = counter.closest('.mini-atc-modal__counter');
        if (counterContainer) {
          updateVariantPrice(counterContainer, 1);
        }
      });
      // Update overall mix & match pricing
      updateMixMatchPricing();
    }
  }

  // Initialize when DOM is ready
  initVesselToggle();
  
  // Initialize personalization toggles functionality
  initPersonalizationToggles();
  
  // Initialize mix & match counter functionality
  initMixMatchCounters();
  
  // Initialize variant prices on page load
  initializeVariantPrices();
});

// Initialize variant prices based on initial counter values
function initializeVariantPrices() {
  const counters = document.querySelectorAll('.mini-atc-modal__mix-match-variants .mini-atc-modal__counter');
  
  counters.forEach(counter => {
    const valueEl = counter.querySelector('.mini-atc-modal__counter-value');
    const initialValue = parseInt(valueEl.textContent) || 1;
    updateVariantPrice(counter, initialValue);
  });
}

// Mix & Match Counter Functionality
function initMixMatchCounters() {
  const mixMatchContainer = document.querySelector('.mini-atc-modal__mix-match-variants');
  
  if (!mixMatchContainer) return;
  
  // Use event delegation for better performance
  mixMatchContainer.addEventListener('click', function(e) {
    const btn = e.target.closest('.mini-atc-modal__counter-btn');
    if (!btn) return;
    
    e.preventDefault();
    
    const counter = btn.closest('.mini-atc-modal__counter');
    const valueEl = counter.querySelector('.mini-atc-modal__counter-value');
    const isIncrement = btn.classList.contains('mini-atc-modal__counter-increment');
    const isDecrement = btn.classList.contains('mini-atc-modal__counter-decrement');
    
    let currentValue = parseInt(valueEl.textContent) || 0;
    
    if (isIncrement) {
      currentValue = Math.min(currentValue + 1, 99); // Max 99
    } else if (isDecrement) {
      currentValue = Math.max(currentValue - 1, 0); // Min 0
    }
    
    valueEl.textContent = currentValue;
    
    // Update the individual variant price based on counter value
    updateVariantPrice(counter, currentValue);
    
    // Add visual feedback
    valueEl.style.transform = 'scale(1.1)';
    setTimeout(() => {
      valueEl.style.transform = 'scale(1)';
    }, 150);
    
    // Trigger any pricing updates or other logic here
    updateMixMatchPricing();
  });
}

// Update individual variant price based on counter value
function updateVariantPrice(counter, quantity) {
  const variantRow = counter.closest('.mini-atc-modal__variant-row');
  const priceElement = variantRow.querySelector('.mini-atc-modal__variant-price');
  const basePrice = 12.99; // Base price per item
  
  if (priceElement) {
    const totalPrice = quantity * basePrice;
    if (quantity === 0) {
      priceElement.textContent = '£0.00';
    } else if (quantity === 1) {
      priceElement.textContent = '£12.99';
    } else {
      priceElement.textContent = `£${totalPrice.toFixed(2)}`;
    }
  }
}

// Update pricing based on mix & match selections
function updateMixMatchPricing() {
  const mixMatchToggle = document.getElementById('mix-match-toggle');
  const counters = document.querySelectorAll('.mini-atc-modal__mix-match-variants .mini-atc-modal__counter-value');
  let totalItems = 0;
  let totalPrice = 0;
  const itemPrice = 12.99; // Base price per item
  
  // Only calculate variant prices if mix-match toggle is enabled
  if (mixMatchToggle && mixMatchToggle.checked) {
    counters.forEach(counter => {
      const quantity = parseInt(counter.textContent) || 0;
      totalItems += quantity;
      totalPrice += quantity * itemPrice;
    });
  }
  
  // Update modal pricing if needed
  const currentPriceEl = document.getElementById('mini-atc-current-price');
  const originalPriceEl = document.getElementById('mini-atc-original-price');
  
  if (currentPriceEl && originalPriceEl) {
    // This would integrate with your existing pricing logic
    // For now, just adding the mix & match items to base price
    const basePrice = 78.00; // Base CHUUG price
    const newTotal = basePrice + totalPrice;
    currentPriceEl.textContent = `£${newTotal.toFixed(2)}`;
  }
  
  console.log(`Mix & Match: ${totalItems} items, Total: £${totalPrice.toFixed(2)}`);
}

// Initialize product image swiper
function initProductSwiper() {
  const productSwiper = new Swiper('.mini-atc-product-swiper', {
    // Enable loop if we have more than 1 slide
    loop: false,
    
    // Navigation with custom dots
    pagination: {
      el: '.mini-atc-modal__image-dots',
      clickable: true,
      bulletClass: 'dot',
      bulletActiveClass: 'active',
      renderBullet: function (index, className) {
        return '<span class="' + className + '"></span>';
      },
    },
    
    // Enable touch/swipe
    touchRatio: 1,
    touchAngle: 45,
    grabCursor: true,
    
    // Smooth transitions
    speed: 300,
    effect: 'slide',
    
    // Accessibility
    a11y: {
      prevSlideMessage: 'Previous product image',
      nextSlideMessage: 'Next product image',
    },
    
    // Auto height to maintain aspect ratio
    autoHeight: false,
    
    // Keyboard control
    keyboard: {
      enabled: true,
      onlyInViewport: true,
    },
  });
  
  return productSwiper;
}

// ========================================
// COUNTDOWN TIMER FUNCTIONALITY
// ========================================
function initCountdownTimer() {
  const countdownElement = document.querySelector('.countdown-timer__time');
  if (!countdownElement) return;

  // Set countdown duration (24 hours in seconds)
  const countdownDuration = 24 * 60 * 60; // 24 hours
  
  // Get or set the start time in localStorage
  const storageKey = 'chuug_countdown_start';
  let startTime = localStorage.getItem(storageKey);
  
  if (!startTime) {
    startTime = Math.floor(Date.now() / 1000);
    localStorage.setItem(storageKey, startTime);
  } else {
    startTime = parseInt(startTime);
  }

  function updateCountdown() {
    const currentTime = Math.floor(Date.now() / 1000);
    const elapsed = currentTime - startTime;
    const remaining = Math.max(0, countdownDuration - elapsed);

    if (remaining <= 0) {
      // Reset the countdown when it reaches zero
      startTime = Math.floor(Date.now() / 1000);
      localStorage.setItem(storageKey, startTime);
      countdownElement.textContent = '24:00:00';
      return;
    }

    // Calculate hours, minutes, and seconds
    const hours = Math.floor(remaining / 3600);
    const minutes = Math.floor((remaining % 3600) / 60);
    const seconds = remaining % 60;

    // Format with leading zeros
    const formattedTime = 
      String(hours).padStart(2, '0') + ':' +
      String(minutes).padStart(2, '0') + ':' +
      String(seconds).padStart(2, '0');

    countdownElement.textContent = formattedTime;
  }

  // Update immediately and then every second
  updateCountdown();
  setInterval(updateCountdown, 1000);
}

// Initialize countdown timer when DOM is ready
document.addEventListener('DOMContentLoaded', function() {
  // Initialize countdown timer
  initCountdownTimer();
});
</script>