
{%- liquid
  assign dusk_charcoal = all_products[section.settings.dusk_charcoal]
  assign dusk_natural = all_products[section.settings.dusk_natural]
  assign dawn_charcoal = all_products[section.settings.dawn_charcoal]
  assign dawn_natural = all_products[section.settings.dawn_natural]
  assign midnight_charcoal = all_products[section.settings.midnight_charcoal]
  assign midnight_natural = all_products[section.settings.midnight_natural]
  
  # Convert discount amounts to cents for money filter (same as product prices)
  assign discount_2x_amount_cents = section.settings.discount_label_2x_amount | times: 100
  assign discount_3x_amount_cents = section.settings.discount_label_3x_amount | times: 100
-%}

<script>
  // Make product IDs available to JavaScript

  console.log("ASDAS")
  console.log( {{ dusk_charcoal | json }})
  window.PRODUCT_IDS = {
    dusk_charcoal: {{ dusk_charcoal.id | json }},
    dusk_natural: {{ dusk_natural.id | json }},
    dawn_charcoal: {{ dawn_charcoal.id | json }},
    dawn_natural: {{ dawn_natural.id | json }},
    midnight_charcoal: {{ midnight_charcoal.id | json }},
    midnight_natural: {{ midnight_natural.id | json }}
  };
  
  // Make product handles available to JavaScript
  window.PRODUCT_HANDLES = {
    dusk_charcoal: {{ dusk_charcoal.handle | json }},
    dusk_natural: {{ dusk_natural.handle | json }},
    dawn_charcoal: {{ dawn_charcoal.handle | json }},
    dawn_natural: {{ dawn_natural.handle | json }},
    midnight_charcoal: {{ midnight_charcoal.handle | json }},
    midnight_natural: {{ midnight_natural.handle | json }}
  };
  
  // Make product amount products available to JavaScript
  window.PRODUCT_AMOUNT_PRODUCTS = {
    1: {
      id: {{ section.settings.one_chuug_product.id | json }},
      handle: {{ section.settings.one_chuug_product.handle | json }},
      price: {{ section.settings.one_chuug_product.price | json }},
      compare_at_price: {{ section.settings.one_chuug_product.compare_at_price | json }},
      variants: [
        {
          id: {{ section.settings.one_chuug_product.variants[0].id | json }},
          price: {{ section.settings.one_chuug_product.variants[0].price | json }},
          compare_at_price: {{ section.settings.one_chuug_product.variants[0].compare_at_price | json }}
        },
        {
          id: {{ section.settings.one_chuug_product.variants[1].id | json }},
          price: {{ section.settings.one_chuug_product.variants[1].price | json }},
          compare_at_price: {{ section.settings.one_chuug_product.variants[1].compare_at_price | json }}
        },
        {
          id: {{ section.settings.one_chuug_product.variants[2].id | json }},
          price: {{ section.settings.one_chuug_product.variants[2].price | json }},
          compare_at_price: {{ section.settings.one_chuug_product.variants[2].compare_at_price | json }}
        },
        {
          id: {{ section.settings.one_chuug_product.variants[3].id | json }},
          price: {{ section.settings.one_chuug_product.variants[3].price | json }},
          compare_at_price: {{ section.settings.one_chuug_product.variants[3].compare_at_price | json }}
        }
      ]
    },
    2: {
      id: {{ section.settings.two_chuug_product.id | json }},
      handle: {{ section.settings.two_chuug_product.handle | json }},
      price: {{ section.settings.two_chuug_product.price | json }},
      compare_at_price: {{ section.settings.two_chuug_product.compare_at_price | json }},
      variants: [
        {
          id: {{ section.settings.two_chuug_product.variants[0].id | json }},
          price: {{ section.settings.two_chuug_product.variants[0].price | json }},
          compare_at_price: {{ section.settings.two_chuug_product.variants[0].compare_at_price | json }}
        },
        {
          id: {{ section.settings.two_chuug_product.variants[1].id | json }},
          price: {{ section.settings.two_chuug_product.variants[1].price | json }},
          compare_at_price: {{ section.settings.two_chuug_product.variants[1].compare_at_price | json }}
        },
        {
          id: {{ section.settings.two_chuug_product.variants[2].id | json }},
          price: {{ section.settings.two_chuug_product.variants[2].price | json }},
          compare_at_price: {{ section.settings.two_chuug_product.variants[2].compare_at_price | json }}
        },
        {
          id: {{ section.settings.two_chuug_product.variants[3].id | json }},
          price: {{ section.settings.two_chuug_product.variants[3].price | json }},
          compare_at_price: {{ section.settings.two_chuug_product.variants[3].compare_at_price | json }}
        }
      ]
    },
    3: {
      id: {{ section.settings.three_chuug_product.id | json }},
      handle: {{ section.settings.three_chuug_product.handle | json }},
      price: {{ section.settings.three_chuug_product.price | json }},
      compare_at_price: {{ section.settings.three_chuug_product.compare_at_price | json }},
      variants: [
        {
          id: {{ section.settings.three_chuug_product.variants[0].id | json }},
          price: {{ section.settings.three_chuug_product.variants[0].price | json }},
          compare_at_price: {{ section.settings.three_chuug_product.variants[0].compare_at_price | json }}
        },
        {
          id: {{ section.settings.three_chuug_product.variants[1].id | json }},
          price: {{ section.settings.three_chuug_product.variants[1].price | json }},
          compare_at_price: {{ section.settings.three_chuug_product.variants[1].compare_at_price | json }}
        },
        {
          id: {{ section.settings.three_chuug_product.variants[2].id | json }},
          price: {{ section.settings.three_chuug_product.variants[2].price | json }},
          compare_at_price: {{ section.settings.three_chuug_product.variants[2].compare_at_price | json }}
        },
        {
          id: {{ section.settings.three_chuug_product.variants[3].id | json }},
          price: {{ section.settings.three_chuug_product.variants[3].price | json }},
          compare_at_price: {{ section.settings.three_chuug_product.variants[3].compare_at_price | json }}
        }
      ]
    }
  };
  
  // Helper function to get product data for a specific amount
  window.getProductAmountData = function(amount) {
    return window.PRODUCT_AMOUNT_PRODUCTS[amount] || null;
  };
  
  // Make current currency available to JavaScript
  window.CURRENT_CURRENCY = {{ cart.currency.iso_code | json }};
  window.CURRENT_CURRENCY_SYMBOL = {{ cart.currency.symbol | json }};
</script>

<div class="tw-flex tw-flex-col tw-gap-y-2 tw-text-white">
      <div class="tw-flex tw-whitespace-nowrap number-vessel-wrap">
        <div class="label-text"><span>1</span>{{ section.settings.vessel_question }} 
          {% render 'icon-question-mark-tooltip', tooltip_text: section.settings.vessel_question_tooltip_text %}
        </div>
      </div>

      <div class="vessel-number-wrap tw-flex tw-flex-wrap tw-items-end tw-gap-y-[1rem] tw-gap-x-[0.62em] tw-px-2 md:tw-flex-nowrap">
        <div class="tw-w-full">
          <label
            class="tw-cursor-pointer"
          >
            <div
              onclick="setProductAmount('1')" class="vessel_number_item product_amount_label_1"
            >
              <span class="vessel-multiplier tw-text-center tw-text-[2rem] tw-leading-[1] tw-font-bold tw-tracking-[0.0625em] tw-leading-5"
                >1x</span
              >
              <div class="vessel-price-wrap tw-whitespace-nowrap tw-flex tw-items-center">
                <span
                  class="product_amount_original_price product_amount_label_1_compare_at_price tw-line-through tw-text-[1.6rem] tw-font-bold tw-leading-4 tw-tracking-tighter tw-flex tw-gap-x-[1rem]"
                  no_engraving_compare_at_price="{{ section.settings.one_chuug_product.compare_at_price | money }}"
                  engraving_compare_at_price="{{  section.settings.one_chuug_product.variants[1].compare_at_price | money }}"
                >
                  {{ section.settings.one_chuug_product.variants[0].compare_at_price | money }}
                </span>
                <span
                  class="product_amount_price product_amount_label_1_price tw-text-[1.6rem] tw-font-bold tw-leading-4"
                  no_engraving_price="{{ section.settings.one_chuug_product.price | money }}"
                  engraving_price="{{ section.settings.one_chuug_product.variants[1].price | money }}"
                >
                  {{ section.settings.one_chuug_product.variants[0].price | money }}
                </span>
              </div>
            </div>
          </label>
        </div>
        <div class="tw-w-full">
          <label
            class="tw-cursor-pointer"
          >
            <div onclick="setProductAmount('2')"
            class="vessel_number_item product_amount_label_2">
              <span class="promo-label">MOST POPULAR</span>
              <span class="vessel-multiplier tw-text-center tw-text-[2rem] tw-leading-[1] tw-font-bold tw-tracking-[0.0625em] tw-leading-5"
                >2x</span
              >
              <div class="vessel-price-wrap tw-whitespace-nowrap tw-flex tw-items-center">
                <span
                  class="product_amount_original_price product_amount_label_2_compare_at_price tw-line-through tw-text-[1.6rem] tw-font-bold tw-leading-4 tw-tracking-tighter tw-flex tw-gap-x-[1rem]"
                  no_engraving_compare_at_price="{{ section.settings.two_chuug_product.compare_at_price | money }}"
                  engraving_compare_at_price="{{ section.settings.two_chuug_product.variants[1].compare_at_price | money }}"
                >
                  {{ section.settings.two_chuug_product.variants[0].compare_at_price | money }}
                </span>
                <span
                  class="product_amount_price product_amount_label_2_price tw-text-[1.6rem] tw-font-bold tw-leading-4"
                  no_engraving_price="{{ section.settings.two_chuug_product.price | money }}"
                  engraving_price="{{ section.settings.two_chuug_product.variants[1].price | money }}"
                >
                  {{- section.settings.two_chuug_product.variants[0].price | money -}}
                </span>
              </div>
              {% if section.settings.discount_label_2x_amount and section.settings.discount_label_2x_amount > 0 %}
              <span class="discount-label">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                  <g clip-path="url(#clip0_2058_1100)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.206055 5.61713L5.20605 0.617126H10.2061V5.61713L5.20605 10.6171L0.206055 5.61713ZM7.39355 4.36713C6.87579 4.36713 6.45605 3.9474 6.45605 3.42963C6.45605 2.91186 6.87579 2.49213 7.39355 2.49213C7.91132 2.49213 8.33105 2.91186 8.33105 3.42963C8.33105 3.9474 7.91132 4.36713 7.39355 4.36713Z" fill="#A43223"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_2058_1100">
                  <rect width="10" height="10" fill="white" transform="matrix(-1 0 0 1 10.2061 0.617126)"/>
                  </clipPath>
                  </defs>
                </svg>
                ONLY {{ section.settings.two_chuug_product.variants[0].price | divided_by: 2 | money }} EACH!
              </span>
              {% endif %}
            </div>
            

          </label>
        </div>
        <div class="tw-w-full">
          <label
            class="tw-cursor-pointer"
          >
            <div
            onclick="setProductAmount('3')"
            class="vessel_number_item product_amount_label_3">
              <span class="promo-label">BEST VALUE</span>

              <span class="vessel-multiplier tw-text-center tw-text-[2rem] tw-leading-[1] tw-font-bold tw-tracking-[0.0625em] tw-leading-5"
                >3x</span
              >
              <div class="vessel-price-wrap tw-whitespace-nowrap tw-flex tw-items-center">
                <span
                  class="product_amount_original_price product_amount_label_3_compare_at_price tw-line-through tw-text-[1.6rem] tw-font-bold tw-leading-4 tw-tracking-tighter tw-flex tw-gap-x-[1rem]"
                  no_engraving_compare_at_price="{{ section.settings.three_chuug_product.compare_at_price | money }}"
                  engraving_compare_at_price="{{ section.settings.three_chuug_product.variants[1].compare_at_price | money }}"
                >
                  {{ section.settings.three_chuug_product.variants[0].compare_at_price | money }}
                </span>
                <span
                  class="product_amount_price product_amount_label_3_price tw-text-[1.6rem] tw-font-bold tw-leading-4"
                  no_engraving_price="{{ section.settings.three_chuug_product.price | money }}"
                  engraving_price="{{ section.settings.three_chuug_product.variants[1].price | money }}"
                >
                  {{- section.settings.three_chuug_product.variants[0].price | money -}}
                </span>
              </div>

              {% if section.settings.discount_label_3x_amount and section.settings.discount_label_3x_amount > 0 %}
              <span class="discount-label">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                  <g clip-path="url(#clip0_2058_1100)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.206055 5.61713L5.20605 0.617126H10.2061V5.61713L5.20605 10.6171L0.206055 5.61713ZM7.39355 4.36713C6.87579 4.36713 6.45605 3.9474 6.45605 3.42963C6.45605 2.91186 6.87579 2.49213 7.39355 2.49213C7.91132 2.49213 8.33105 2.91186 8.33105 3.42963C8.33105 3.9474 7.91132 4.36713 7.39355 4.36713Z" fill="#A43223"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_2058_1100">
                  <rect width="10" height="10" fill="white" transform="matrix(-1 0 0 1 10.2061 0.617126)"/>
                  </clipPath>
                  </defs>
                </svg>
                EXTRA {{ discount_3x_amount_cents | money }} OFF!
              </span>
              {% endif %}

            </div>
          </label>
        </div>
      </div>
    </div>
    <div class="customize-your-vessel tw-flex tw-flex-col tw-text-white tw-text-[1.6rem] tw-font-semibold">
      <div class="tw-flex tw-gap-[1rem] heading-wrap">
        <div class="label-text"><span>2</span>{{ section.settings.customise_vessel_question }}</div>
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when 'modal' -%}
              <button id="openModal">See options</button>
              {% render 'pdp-chuug-vessel-modal', block: block %}
          {%- endcase -%}
        {% endfor %}
      </div>
      <div class="customise-vessel-tab" data-tabs>
        <!-- Tab headers -->
        <div class="vessel-tab-container">

          {% for i in (1..3) %}
            <button 
              class="vessel-tab-button  {% if forloop.index == 1 %} active {% else %} inactive {% endif %} vessel_number_{{ forloop.index }} " 
             
              data-tab="tab{{ forloop.index }}"
            >
              Vessel #{{ forloop.index }}
            </button>
          {% endfor %}
         
        </div>

        <!-- Tab content -->
        <div class="vessel-tab-content">

          {% for i in (1..3) %}
            <div 
              id="tab{{ forloop.index }}" 
              class="vessel-tab-panel  {% if forloop.index == 1 %} active {% endif %} vessel_number_{{ forloop.index }} "
           
            >
              <div class="tw-flex tw-flex-col tw-items-center md:tw-flex-row">
                <div
                  class="inputs tw-flex tw-w-full tw-flex-col tw-gap-y-[1rem]"
                  variant_id=""
                  variant_monogram_initials_id=""
                  variant_index="0"
                  product_amount="3"
                  monogram_initials=""
                >
                  <div>
                    <p class="tw-text-white ">Wood Finish</p>

                    <div class="block-wrap">
                      <label class="wood-type-label block-label tw-cursor-pointer  ">
                        <input type="radio" name="wood_material_{{ forloop.index }}" value="DUSK" data-variant-id="{{ dusk_charcoal.variants.first.id }}" class="tw-hidden js-option">
                        {% if section.settings.wood_finish_dusk_wood != blank %}
                         <div class="img-wrap">
                           <img src="{{ section.settings.wood_finish_dusk_wood | image_url }}" width="180" height="48" loading="lazy">
                         </div>
                        {% endif %}
                        <span class="wood-type-name tw-uppercase type-name">DUSK</span>
                      </label>

                      <label class="wood-type-label block-label tw-cursor-pointer">
                        <input type="radio" name="wood_material_{{ forloop.index }}" value="DAWN" data-variant-id="{{ dawn_charcoal.variants.first.id }}" class="tw-hidden js-option">
                        {% if section.settings.wood_finish_dawn_wood != blank %}
                         <div class="img-wrap">
                            <img src="{{ section.settings.wood_finish_dawn_wood | image_url }}" width="180" height="48" loading="lazy">
                         </div>
                        {% endif %}
                        <span class="wood-type-name tw-uppercase type-name">DAWN</span>
                      </label>

                      <label class="wood-type-label block-label tw-cursor-pointer">
                        <input type="radio" name="wood_material_{{ forloop.index }}" value="MIDNIGHT" data-variant-id="{{ midnight_charcoal.variants.first.id }}" class="tw-hidden js-option">
                        {% if section.settings.wood_finish_midnight_wood != blank %}
                         <div class="img-wrap">
                          <img
                            src="{{ section.settings.wood_finish_midnight_wood | image_url }}"
                            width="180"
                            height="48"
                            loading="lazy"
                          >
                         </div>
                        {% endif %}
                        <span class="wood-type-name tw-uppercase type-name">MIDNIGHT</span>
                      </label>
                    </div>
                  </div>

                  <div>
                    <p class="tw-text-white ">Rope Type</p>

                    <div class="block-wrap">
                      <label class="block-label rope-type-label tw-flex tw-items-center tw-px-4 tw-py-2 hover:tw-bg-chuug-pastel-yellow tw-cursor-pointer">
                        <input type="radio" name="rope_material_{{ forloop.index }}" value="NATURAL" data-variant-id="{{ dusk_natural.variants.first.id }}" class="tw-hidden js-option">
                        <span class="rope-type-name tw-uppercase type-name">NATURAL</span>
                        {% if section.settings.natural_rope != blank %}
                          <img src="{{ section.settings.natural_rope | image_url }}" width="180" height="48" loading="lazy">
                        {% endif %}
                         <div class="added-label">
                          STANDARD
                        </div>
                      </label>
                      <label class="block-label rope-type-label tw-flex tw-items-center tw-px-4 tw-py-2 tw-cursor-pointer">

                        <input type="radio" name="rope_material_{{ forloop.index }}" value="CHARCOAL" data-variant-id="{{ dusk_charcoal.variants[2].id }}" class="tw-hidden js-option">
                        <div class="charocal-upgrade">
                          <span class="rope-type-name tw-uppercase type-name">CHARCOAL </span>
                          <span class="text-upgrade">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
                              <path d="M7.70617 6.18489C7.69057 6.12458 7.6632 6.06846 7.62586 6.02021C7.58853 5.97196 7.54206 5.93266 7.4895 5.90489L6.077 5.15822L6.45617 2.36267C6.46864 2.26578 6.4508 2.16721 6.40542 2.08224C6.36004 1.99727 6.28965 1.93063 6.20516 1.89266C6.12067 1.85469 6.0268 1.8475 5.93809 1.87221C5.84939 1.89692 5.7708 1.95215 5.7145 2.02933L2.79784 6.02933C2.75825 6.08326 2.73088 6.14622 2.71787 6.21329C2.70486 6.28037 2.70656 6.34974 2.72284 6.416C2.74123 6.48229 2.7732 6.54339 2.81643 6.59489C2.85967 6.64638 2.91309 6.68699 2.97284 6.71378L4.752 7.47378L4.37284 10.2382C4.35995 10.3374 4.37886 10.4384 4.42651 10.5247C4.47415 10.611 4.54774 10.6777 4.63534 10.7138C4.68416 10.7354 4.73665 10.746 4.7895 10.7449C4.85813 10.7445 4.92561 10.7261 4.98594 10.6912C5.04627 10.6563 5.09759 10.606 5.13534 10.5449L7.63534 6.54489C7.67055 6.49375 7.69509 6.43517 7.70731 6.37307C7.71953 6.31098 7.71914 6.24681 7.70617 6.18489Z" fill="white"/>
                            </svg>UPGRADE 
                          </span>
                        </div>
                        {% if section.settings.charcoal_rope != blank %}
                          <img src="{{ section.settings.charcoal_rope | image_url }}" width="180" height="48" loading="lazy">
                        {% endif %}
                        <div class="upgrade-label" data-charcoal-upgrade-price>
                          <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                            <g clip-path="url(#clip0_2454_1210)">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.206055 5.63379L5.20605 0.633789H10.2061V5.63379L5.20605 10.6338L0.206055 5.63379ZM7.39355 4.38379C6.87579 4.38379 6.45605 3.96406 6.45605 3.44629C6.45605 2.92852 6.87579 2.50879 7.39355 2.50879C7.91132 2.50879 8.33105 2.92852 8.33105 3.44629C8.33105 3.96406 7.91132 4.38379 7.39355 4.38379Z" fill="white"/>
                            </g>
                            <defs>
                              <clipPath id="clip0_2454_1210">
                                <rect width="10" height="10" fill="white" transform="matrix(-1 0 0 1 10.2061 0.633789)"/>
                              </clipPath>
                            </defs>
                          </svg>
                          <span class="upgrade-price-text">+ ...</span>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>

                <script>
                  console.log('💰 SHOPIFY PRODUCT VARIANT PRICES (Vessel #{{ forloop.index }}):', {
                    product: 'dusk_charcoal',
                    naturalVariant: {
                      id: '{{ dusk_charcoal.variants[0].id }}',
                      price: {{ dusk_charcoal.variants[0].price }} + ' cents (${{ dusk_charcoal.variants[0].price | money }})',
                    },
                    charcoalVariant: {
                      id: '{{ dusk_charcoal.variants[2].id }}',
                      price: {{ dusk_charcoal.variants[2].price }} + ' cents (${{ dusk_charcoal.variants[2].price | money }})',
                    },
                    priceDifference: {
                      cents: {{ price_difference }},
                      formatted: '{{ price_difference | money }}'
                    },
                    displayedInUI: '+ {{ price_difference | money }}'
                  });
                  
                  // Upgrade labels will be updated by the POMC system
                  console.log('📋 Upgrade label container ready for Vessel #{{ forloop.index }}');
                  
                  // Standalone upgrade label updater (runs immediately on page load)
                  function updateUpgradeLabelsStandalone() {
                    const upgradeLabels = document.querySelectorAll('[data-charcoal-upgrade-price] .upgrade-price-text');
                    if (upgradeLabels.length > 0) {
                      // Currency-based pricing (same as POMC system)
                      const CHARCOAL_UPGRADE_PRICES = {
                        'USD': 400,  // $4.00
                        'AUD': 615,  // $6.15
                        'DEFAULT': 299  // $2.99
                      };
                      
                      // Get current currency
                      let currency = window.CURRENT_CURRENCY;
                      if (!currency && window.Shopify?.currency?.active) {
                        currency = window.Shopify.currency.active;
                      }
                      if (!currency && window.Shopify?.shop?.currency) {
                        currency = window.Shopify.shop.currency;
                      }
                      if (!currency) {
                        currency = 'GBP';
                      }
                      
                      const price = CHARCOAL_UPGRADE_PRICES[currency] || CHARCOAL_UPGRADE_PRICES.DEFAULT;
                      
                      // Format with proper currency symbol
                      const amount = (price / 100).toFixed(2);
                      const currencySymbols = {
                        'USD': '$', 'AUD': '$', 'GBP': '£', 'EUR': '€', 'CAD': '$', 'DEFAULT': '£'
                      };
                      const symbol = currencySymbols[currency] || currencySymbols.DEFAULT;
                      const formattedPrice = `${symbol}${amount}`;
                      
                      upgradeLabels.forEach(label => {
                        label.textContent = '+ ' + formattedPrice;
                      });
                      
                      console.log('🏷️ STANDALONE UPGRADE LABELS UPDATED:', {
                        currency: currency,
                        priceInCents: price,
                        formattedPrice: formattedPrice,
                        labelsFound: upgradeLabels.length
                      });
                    }
                  }
                  
                  // Run immediately and on DOM ready
                  updateUpgradeLabelsStandalone();
                  document.addEventListener('DOMContentLoaded', updateUpgradeLabelsStandalone);
                </script>

                <input
                  class="monogram_initials tw-hidden tw-w-full tw-h-[4.8rem] tw-text-center input tw-uppercase tw-bg-chuug-rackley tw-mx-auto tw-rounded-2xl tw-px-4 tw-py-2 tw-border tw-border-white tw-appearance-none tw-placeholder-white hover:tw-cursor-pointer focus:tw-outline-none focus:tw-ring-0 active:tw-outline-none active:tw-ring-0 md:tw-w-1/3 lg:!tw-w-[15.5rem] xl:!tw-w-[18.5rem]"
                  type="text"
                  maxlength="3"
                  placeholder="ENTER Initials"
                  name="properties[Monogram Initials]"
                  disabled
                >
              </div>
            </div>

          {% endfor %}
          
        </div>
      </div>

      <div class="your-selection tw-flex tw-flex-col tw-items-center tw-gap-y-[1rem] tw-gap-x-[0.62em] tw-py-2 md:tw-flex-row">
        <p class="tw-text-white ">Your Selection</p>
        <!-- Dynamic vessel count - class will be set by JavaScript -->
        <div class="selection-result-wrap">

          <p class="no-selection-text">Your selection will appear here</p>

        </div>
      </div>


    
    </div>

    <div class="tw-flex tw-flex-col">
      <button
        id="add-multiple-products"
        type="submit"
        name="add"
        disabled
        class="product-form__submit tw-whitespace-nowrap tw-flex tw-justify-center tw-items-center cta-button  tw-uppercase tw-text-white tw-text-[2rem] tw-font-bold tw-w-full tw-bg-no-repeat tw-h-[7rem] tw-rounded-[1.25em] "
      >
        {{ section.settings.button_text }}&nbsp;-&nbsp;
        <div
          class="cta-product-price tw-whitespace-nowrap"
        ></div>
      </button>
      <p class="incompleted-inputs-text">All fields must be filled out before adding products to the cart.</p>

      <div class="refund-wrap tw-flex tw-items-center tw-gap-x-2 tw-justify-center tw-text-white">
        <div class="tw-bg-chuug-rose tw-rounded-[0.29375em] tw-py-[0.27125em] tw-px-[0.5425em] tw-flex tw-items-center tw-justify-center">
          <svg width="49" height="13" viewBox="0 0 49 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M46.4233 7.95711C46.4233 6.81202 45.454 5.88498 44.2583 5.88498C43.0626 5.88498 42.0933 6.81343 42.0933 7.95711C42.0933 9.10079 43.064 10.0278 44.2597 10.0278C45.4554 10.0278 46.4233 9.10079 46.4233 7.95711ZM46.4317 3.92961H48.8204V11.9832H46.4317V11.4683C45.7353 11.9491 44.909 12.2062 44.0628 12.2055C41.7374 12.2055 39.8524 10.3036 39.8524 7.95711C39.8524 5.61066 41.7374 3.70875 44.0628 3.70875C44.942 3.70875 45.7565 3.98025 46.4317 4.44588V3.92961ZM27.3113 4.97904V3.93101H24.865V11.9832H27.3169V8.22298C27.3169 6.9541 28.6786 6.27324 29.624 6.27324H29.6521V3.93101C28.6814 3.93101 27.791 4.35022 27.3113 4.97904ZM21.2173 7.95711C21.2173 6.81202 20.248 5.88498 19.0523 5.88498C17.8566 5.88498 16.8873 6.81343 16.8873 7.95711C16.8873 9.10079 17.858 10.0278 19.0537 10.0278C20.2494 10.0278 21.2173 9.10079 21.2173 7.95711ZM21.2257 3.92961H23.6158V11.9832H21.2257V11.4683C20.5505 11.9326 19.736 12.2055 18.8568 12.2055C16.5314 12.2055 14.6464 10.3036 14.6464 7.95711C14.6464 5.61066 16.5314 3.70875 18.8568 3.70875C19.736 3.70875 20.5505 3.98025 21.2257 4.44588V3.92961ZM35.6068 3.71437C34.6531 3.71437 33.7499 4.0126 33.145 4.83696V3.93101H30.7662V11.9832H33.1746V7.75172C33.1746 6.52786 33.9877 5.92718 34.9682 5.92718C36.0176 5.92718 36.6225 6.56021 36.6225 7.73484V11.9832H39.0083V6.86266C39.0083 4.98888 37.5312 3.71437 35.6068 3.71437ZM11.1661 11.9832H13.6673V0.342414H11.1661V11.9832ZM0.179443 11.986H2.82834V0.3396H0.18085L0.179443 11.986ZM9.44424 0.3396C9.44424 2.86048 8.47078 5.20693 6.73486 6.94988L10.3952 11.986H7.12453L3.14767 6.51379L4.17459 5.73727C5.01058 5.10852 5.68793 4.29295 6.1525 3.35573C6.61708 2.41852 6.85602 1.38563 6.85021 0.3396H9.44143H9.44424Z" fill="#0C061D"/>
          </svg>
        </div>
        <span class="tw-text-[1.2rem] tw-leading-[1.5]">Not happy? We'll refund you. No questions asked.</span>
      </div>
    </div>

<!-- Include Modal CSS -->
{{ 'pomc-system.css' | asset_url | stylesheet_tag }}
{{ 'checkout-products-wrap.css' | asset_url | stylesheet_tag }}

<!-- Include Cart Manager JavaScript (defer for non-blocking) -->
<script src="{{ 'cart-manager.js' | asset_url }}" defer></script>

<!-- Include POMC System JavaScript (defer for non-blocking) -->
<script>
  // Provide asset URL template for JavaScript
  window.SHOPIFY_ASSET_URL_TEMPLATE = "{{ 'dusk_natural.png' | asset_url }}";
</script>
<script src="{{ 'pomc-system.js' | asset_url }}" defer></script>

{% comment %} Performance optimization: Changed fetchpriority="high" to defer
- Reduces blocking time during initial page load
- Scripts load after HTML parsing
- Non-critical for above-the-fold content
- Results in faster Time to Interactive {% endcomment %}

