{{ 'several-text-and-images.css' | asset_url | stylesheet_tag }}

<section class="several-text-and-images-section">
  <div class="several-text-and-images-container">
    <header class="several-text-and-images-header">
      <div class="several-text-and-images-title">
        {{ section.settings.section_title }}
      </div>
      <p class="several-text-and-images-subtitle">
        {{ section.settings.section_subtitle }}
      </p>
    </header>
    {% for block in section.blocks %}
      <div class="several-text-and-images-block{% if forloop.index0 == 0 %} first-block{% elsif forloop.index0 == 1 %} second-block{% else %}{% assign remainder = forloop.index0 | modulo: 2 %}{% if remainder == 0 %} first-block{% else %} second-block{% endif %}{% endif %}">
        <div class="several-text-and-images-content">
          {% if block.settings.block_image == blank %}
            {{ 'image' | placeholder_svg_tag: 'several-text-and-images-placeholder' }}
          {% else %}
            <img
              src="{{ block.settings.block_image | image_url }}"
              class="several-text-and-images-image"
              alt="man-chuug"
              width="100%"
              height="100%"
            >
          {% endif %}
          <div class="several-text-and-images-text-container">
            <h4 class="several-text-and-images-block-title">
              {{ block.settings.block_title }}
            </h4>
            <p class="several-text-and-images-block-text">
              {{ block.settings.block_text }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "Several text and images",
  "settings": [
    {
      "type": "richtext",
      "id": "section_title",
      "default": "<h1>Nature's gift, forged into perfection</h1>",
      "label": "Section Title"
    },
    {
      "type": "text",
      "id": "section_subtitle",
      "label": "Section Subtitle",
      "default": "Always handmade, machines are cheating"
    }
  ],
  "blocks": [
    {
      "type": "text_and_image",
      "name": "Text and Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "block_title",
          "label": "Title",
          "default": "Man chop. Man-go"
        },
        {
          "type": "text",
          "id": "block_text",
          "label": "Text",
          "default": "Quality from the onset. Each tankard is crafted from durable Mango wood. How else would it last a lifetime?"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Several text and images"
    }
  ]
}
{% endschema %}
