<section class="tw-bg-chuug-gainsboro tw-rounded-ss-[2em] tw-rounded-se-[2em] -tw-mt-8 tw-pt-[4rem] tw-pb-[8rem] tw-px-[0.625rem] md:tw-pt-[10rem] md:tw-pb-[12rem]">
  <div class="tw-container tw-flex tw-flex-col tw-justify-center tw-items-center tw-gap-y-[10rem]">
    <header class="tw-flex tw-flex-col tw-justify-center tw-max-w-[60em] tw-gap-y-[1.5rem]">
      <div class="tw-text-[3.2rem] tw-font-bold tw-leading-[1.1] tw-text-center lg:tw-text-[4.8rem]">
        {{ section.settings.section_title }}
      </div>
      <p class="tw-text-center tw-text-[1.6rem] tw-leading-[1.5] tw-text-chuug-japanese-indigo lg:tw-text-[1.8rem]">
        {{ section.settings.section_subtitle }}
      </p>
    </header>
    {% for block in section.blocks %}
      <div class="tw-flex tw-flex-col tw-items-center tw-gap-y-[6.25em] tw-max-w-[45.9375em]">
        <div class="tw-flex tw-flex-col lg:tw-flex-row tw-items-center tw-gap-x-8 tw-w-full">
          {% if block.settings.block_image == blank %}
            {{ 'image' | placeholder_svg_tag: 'tw-w-[20em] tw-h-[20em] tw-border tw-border-black tw-rounded-2xl' }}
          {% else %}
            <img
              src="{{ block.settings.block_image | image_url }}"
              class="tw-w-[20em] tw-h-[20em]"
              alt="man-chuug"
              width="100%"
              height="100%"
            >
          {% endif %}
          <div class="tw-flex tw-flex-col tw-gap-y-5 tw-flex-1 tw-mt-[2.5rem] tw-px-[0.5rem]">
            <h4 class="tw-text-chuug-dark-navy tw-text-[2.4rem] tw-leading-[1.1] tw-font-bold lg:tw-text-[2.8rem] lg:tw-leading-[1.3]">
              {{ block.settings.block_title }}
            </h4>
            <p class="tw-text-chuug-japanese-indigo tw-text-[1.6rem] tw-leading-[1.5] ">
              {{ block.settings.block_text }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "Several text and images",
  "settings": [
    {
      "type": "richtext",
      "id": "section_title",
      "default": "<h1>Nature's gift, forged into perfection</h1>",
      "label": "Section Title"
    },
    {
      "type": "text",
      "id": "section_subtitle",
      "label": "Section Subtitle",
      "default": "Always handmade, machines are cheating"
    }
  ],
  "blocks": [
    {
      "type": "text_and_image",
      "name": "Text and Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "block_title",
          "label": "Title",
          "default": "Man chop. Man-go"
        },
        {
          "type": "text",
          "id": "block_text",
          "label": "Text",
          "default": "Quality from the onset. Each tankard is crafted from durable Mango wood. How else would it last a lifetime?"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Several text and images"
    }
  ]
}
{% endschema %}
