<section class="text-and-image-carousel tw-bg-chuug-dark-navy tw-text-white tw-rounded-ss-[2em] tw-rounded-se-[2em] -tw-mt-8 tw-px-[1rem] tw-pt-[4rem] tw-pb-[6rem] lg:tw-pb-[18rem] lg:tw-pt-[14rem] lg:tw-pl-[6rem] xl:tw-pl-[12rem]">
  <div class="tw-container tw-px-0 tw-flex tw-flex-col tw-justify-center tw-items-center tw-gap-x-[3.75em] md:tw-flex-row">
    <div class="tw-flex tw-flex-col tw-justify-center tw-max-w-[60em] tw-gap-y-[2rem] tw-flex-1">
      <div class="tw-text-[3.2rem] tw-leading-[1.1] tw-text-white lg:tw-text-[4.8rem]">
        {{ section.settings.title }}
      </div>
      <p class="tw-text-[1.6rem] tw-leading-[1.5] tw-text-white">
        {{ section.settings.description }}
      </p>

      <a
        href="#hero-section"
        type="submit"
        class="cta-button tw-hidden tw-container tw-text-[2rem] tw-leading-[1] tw-font-bold tw-p-0 tw-uppercase tw-bg-no-repeat tw-w-full tw-max-w-[34.5rem] tw-h-[4.375em] tw-rounded-[1.25em] tw-flex tw-justify-center tw-items-center tw-mt-[2rem] md:tw-mt-[6rem] md:tw-flex lg:tw-ml-0 lg:tw-mt-[2rem]"
        style="
          background-image: url('https://cdn.shopify.com/s/files/1/0799/4307/4111/files/cta-button.png?v=1729102728');
          background-size: contain;
          background-position: center;
        "
      >
        {{ section.settings.button_text }}
      </a>
    </div>
    <div class="tw-flex-1 tw-max-w-full">
      <div class="swiper text-and-image-carousel-swiper !tw-w-full tw-h-[26rem] !tw-mx-0 tw-mt-[3rem] 2xl:tw-h-[27rem]">
        <div class="swiper-wrapper tw-h-[23rem]">
          {% for block in section.blocks %}
            <div class="swiper-slide !tw-flex !tw-items-end">
              {% if forloop.index == 1 %}
                <div class="tw-relative tw-w-fit">
                  <img
                    data-src="{{ block.settings.block_image | image_url }}"
                    alt="Slide Image"
                    class="lazyload swiper-image tw-rounded-[1.6rem] tw-w-[30.5rem] tw-h-[23rem] 2xl:tw-h-[40.5rem] 2xl:tw-w-[60rem]"
                    height="230"
                    width="300"
                  >
                  <div class="badge-container tw-absolute tw-top-[-2rem] tw-right-[-2rem] tw-w-[6rem] tw-h-[6rem] md:tw-w-[8rem] md:tw-h-[8rem] xl:!tw-top-[-2rem]">
                    <div class="tw-relative md:!tw-flex md:tw-justify-center md:tw-items-center">
                      <img
                        data-src="https://cdn.shopify.com/s/files/1/0799/4307/4111/files/badge.png?v=1729107293"
                        alt="Badge"
                        width="100%"
                        height="100%"
                        class="lazyload tw-w-[6rem] tw-h-[6rem] md:tw-w-[8rem] md:tw-h-[8rem]"
                      >
                      <p class="tw-absolute tw-text-center tw-text-black tw-top-[0.7rem] tw-leading-[1.8rem] tw-font-bold tw-text-[1.4rem] md:tw-mt-[0.8rem] md:tw-w-[6rem] ">
                        UP TO <span class="discount">{{ section.settings.discount_number }}%</span> OFF
                      </p>
                    </div>
                  </div>
                </div>
              {% else %}
                <img
                  data-src="{{ block.settings.block_image | image_url }}"
                  alt="Slide Image"
                  class="lazyload swiper-image tw-rounded-[1.6rem] tw-w-[30.5rem] tw-h-[23rem] 2xl:tw-h-[40.5rem] 2xl:tw-w-[60rem]"
                  height="230"
                  width="300"
                >
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="tw-flex tw-justify-end tw-items-center tw-container tw-mt-[1.88em] lg:tw-mt-[2rem]">
    <button
      onclick="handleToggleTextAndImageSwiperState(this)"
      title="pause"
      data-play="true"
      class="tw-bg-chuug-pastel-yellow tw-rounded-full tw-flex tw-items-center tw-justify-center tw-w-10 tw-h-10 tw-group"
    >
      <svg
        class="tw-hidden group-[&[data-play='true']]:tw-block"
        xmlns="http://www.w3.org/2000/svg"
        width="15"
        height="15"
        viewBox="0 0 15 15"
        fill="none"
      >
        <g clip-path="url(#clip0_1_2880)">
          <path d="M5.82945 12.4222C5.82945 13.4622 4.98629 14.3053 3.94634 14.3053C2.90639 14.3053 2.06323 13.4622 2.06323 12.4222V2.66875C2.06323 1.6288 2.90639 0.785645 3.94634 0.785645C4.98629 0.785645 5.82945 1.6288 5.82945 2.66875V12.4222Z" fill="#0D2026"/>
          <path d="M12.8968 12.4222C12.8968 13.4622 12.0537 14.3053 11.0137 14.3053C9.97377 14.3053 9.13062 13.4622 9.13062 12.4222V2.66875C9.1309 1.6288 9.97405 0.785645 11.0137 0.785645C12.0537 0.785645 12.8968 1.6288 12.8968 2.66875V12.4222Z" fill="#0D2026"/>
        </g>
        <defs>
          <clipPath id="clip0_1_2880">
            <rect width="13.5197" height="13.5197" fill="white" transform="translate(0.720459 0.785645)"/>
          </clipPath>
        </defs>
      </svg>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        class="play-icon"
        style="display: none; margin-left: 2px;"
      >
        <path d="M2.69075 0.305027C1.42857 -0.418977 0.405273 0.174136 0.405273 1.62872V12.3629C0.405273 13.819 1.42857 14.4113 2.69075 13.688L12.073 8.30735C13.3356 7.58309 13.3356 6.40968 12.073 5.68559L2.69075 0.305027Z" fill="#331B18"></path>
      </svg>
    </button>
  </div>
  <a
    href="#hero-section"
    type="submit"
    class="cta-button tw-container tw-text-[2rem] tw-leading-[1] tw-font-bold tw-p-0 tw-uppercase tw-bg-no-repeat tw-w-full tw-max-w-[34.5rem] tw-h-[4.375em] tw-rounded-[1.25em] tw-flex tw-justify-center tw-items-center tw-mt-[2rem] md:tw-mt-[6rem] md:tw-hidden"
    style="
      background-image: url('https://cdn.shopify.com/s/files/1/0799/4307/4111/files/cta-button.png?v=1729102728');
      background-size: contain;
      background-position: center;
    "
  >
    {{ section.settings.button_text }}
  </a>
</section>

<script>
  const textAndImageSwiper = new Swiper('.text-and-image-carousel-swiper', {
    spaceBetween: 30,
    slidesPerView: 1.2,
    loop: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    breakpoints: {
      390: {
        slidesPerView: 'auto',
      },
    }
  });

  function handleToggleTextAndImageSwiperState(elm) {
    if (textAndImageSwiper.autoplay.running) {
      textAndImageSwiper.autoplay.stop();
      elm.title = 'play';
      elm.dataset.play = 'false';
      elm.querySelector('.play-icon').style.display = 'block';
    } else {
      textAndImageSwiper.autoplay.start();
      elm.title = 'pause';
      elm.dataset.play = 'true';
      elm.querySelector('.play-icon').style.display = 'none';
    }
  }
{% comment %}   document.addEventListener('DOMContentLoaded', function () {
    setTimeout(function () {
      const elements = document.querySelectorAll('.text-and-image-carousel .bss_pl_img');
      elements.forEach(function (element) {
        element.remove();
      });
    }, 1000);
  }); {% endcomment %}
</script>

<style>
  .text-and-image-carousel h1 {
    color: white;
  }

  @media screen and (min-width: 390px) {
    .text-and-image-carousel-swiper .swiper-slide {
      width: fit-content !important;
    }
  }

  @media screen and (min-width: 768px) {
    .text-and-image-carousel-swiper .badge-container {
      top: -30px;
      right: -10px;
    }
  }

  @media screen and (min-width: 1280px) {
    .text-and-image-carousel-swiper {
      height: fit-content !important;
    }
    .text-and-image-carousel-swiper .swiper-slide {
      display: flex;
      align-items: center;
    }
  }
</style>

{% schema %}
{
  "name": "Text and image carousel",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "default": "<h1>You’d Have To See It To Beerlieve It</h1>"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "What’s better than drinking beer from a tankard? Drinking two. It’s no coincidence our tankards hold 660ml. (That’s two of your favourite beer cans, ales, or fancy craft beers - whatever's your poison)"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Add to cart"
    },
    {
      "type": "text",
      "id": "discount_number",
      "default": "XX",
      "label": "Discount Number"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Slide Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text and image carousel"
    }
  ]
}
{% endschema %}
